<!DOCTYPE html>
<html>
<head>
	<!-- set the encoding of your site -->
	<meta charset="utf-8">
	<!-- set the viewport width and initial-scale on mobile devices -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Property42</title>
	<!-- include the site stylesheet -->
	<link media="all" rel="stylesheet" href="css/main.css">
	<!-- google Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
</head>
<body class="sideBar-active">
    <span class="lodaing-page">Property42.pk</span>
	<!-- main container of all the page elements -->
	<div id="wrapper">
		<header id="header">
			<a href="#" class="logo">P<span class="hidden-xs">roperty</span>42</a>
			<a class="sideBar-opener"><span></span></a>
            <span class="our-contactNum">Contact us: <a href="tel:03004595541">03004595541</a></span>
			<a href="#" class="logout" title="Logout"><span class="icon-logout"></span> <span class="hidden-xs">Logout</span></a>
			<a href="#" class="add-property"><span class="hidden-xs">Add a</span> property</a>
			<div class="searhForm-holder">
				<a class="form-openerMobile"><span class="icon-search"></span></a>
				<form class="searh-dashboard">
					<input type="search" placeholder="Searh by ID">
					<button type="submit"><span class="icon-search"></span></button>
				</form>
			</div>
		</header>
		<main id="main" role="main">
			<aside id="sidebar-dashboard">
				<div class="user-picture">
					<div class="layout">
						<a href="#" class="image-thumb"><img src="images/user1.jpg" width="388" height="395" alt="user-image"></a>
						<div class="layout">
							<a href="#" class="user-name">Zain ali</a>
							<span class="account-type">premium</span>
						</div>
					</div>
					<ul class="notifications-links">
						<li class="display-badge">
                            <a href="#" title="Email Alerts">
                                <span class="icon-service-courier"></span>
                                <span class="badge">10</span>
                            </a>
                        </li>
						<li class="display-badge">
                            <a href="#" title="Messages Alerts">
                                <span class="icon-facebook-chat-balloons"></span>
                                <span class="badge">99+</span>
                            </a>
                        </li>
					</ul>
				</div>
				<div class="form-holder">
					<form class="search-sideBar">
						<input type="search" placeholder="Search Links" class="search-links">
						<button type="submit"><span class="icon-search"></span></button>
					</form>
				</div>
				<ul class="sideBar-links">
					<li><a href="#"><span class="icon-home-button"></span>dashboard</a></li>
					<li class="active">
						<a><span class="icon-list"></span>listings <span class="badge">134</span></a>
						<ul class="sub-links">
							<li><a href="#"><span class="icon-clothes-tag"></span> for sale <span class="badge small">34</span></a></li>
							<li><a href="#"><span class="icon-rent"></span> for rent <span class="badge small">99</span></a></li>
						</ul>
					</li>
					<li><a href="#"><span class="icon-favourites-filled-star-symbol"></span>favorites<span class="badge">346</span></a></li>
                    <li><a href="#"><span class="icon-facebook-chat-balloons"></span>Messages<span class="badge">300</span></a></li>
                    <li><a href="#"><span class="icon-service-courier"></span>Email Alerts<span class="badge">55</span></a></li>
					<li><a href="#"><span class="icon-user2"></span>My profile</a></li>
                    <li><a href="#"><span class="icon-key"></span>Change Password</a></li>
				</ul>
			</aside>
			<div class="pages-holder">
				<div class="addPropertyFormContainer" ng-controller="AddPropertyController" ng-init="initialize()">
					<form class="property-add" ng-submit="submitProperty()">
						<section class="basics-block" id="basics-block">
							<span class="success-message successfully-saved">Property Saved</span>
							<div class="errors">
								<ul>
									<li data-ng-repeat="error in errors">Owner is invalid</li>
								</ul>
							</div>
							<strong class="form-heading"><span>Property Type and Location</span></strong>
							<div class="layout">
								<span class="title">purpose:</span>
								<div class="input-holder">
									<ul class="radio-holder">
										<li>
											<label for="sale">
												<input type="radio" ng-model="form.data.propertyPurpose" value="1" name="propertyPurpose" id="sale">
												<span class="fake-label">For Sale</span>
											</label>
										</li>
										<li>
											<label for="rent">
												<input type="radio" ng-model="form.data.propertyPurpose" value="2" name="propertyPurpose" id="rent">
												<span class="fake-label">For Rent</span>
											</label>
										</li>
										<li class="error-text">Oh ! this is error</li>
									</ul>
								</div>
							</div>
							<div class="layout">
								<span class="title">Property Type:</span>
								<div class="input-holder">
									<ul class="radio-holder">
										<li>
											<label for="homes" class="hasChild">
												<input type="radio" name="propertyType" value="1" id="homes">
												<span class="fake-label">homes</span>
											</label>
										</li>
										<li>
											<label for="plot" class="hasChild">
												<input type="radio" name="propertyType" value="1" id="plot">
												<span class="fake-label">plot</span>
											</label>
										</li>
										<li>
											<label for="commercial" class="hasChild">
												<input type="radio" name="propertyType" value="1" id="commercial">
												<span class="fake-label">commercial</span>
											</label>
										</li>
										<li class="error-text">Oh ! this is error</li>
									</ul>
									<div class="tab-content">
										<div id="tab1">
											<ul class="radio-holder">
												<li>
													<label for="house" class="withCheck">
														<input type="radio" name="propertySubType" ng-model="$parent.form.data.propertySubType" id="house" value="house">
														<span class="fake-radio"></span>
														<span class="fake-label">house</span>
													</label>
												</li>
												<li>
													<label for="flat" class="withCheck">
														<input type="radio" name="propertySubType" ng-model="$parent.form.data.propertySubType" id="flat" value="flat">
														<span class="fake-radio"></span>
														<span class="fake-label">flat</span>
													</label>
												</li>
												<li>
													<label for="ploot" class="withCheck">
														<input type="radio" name="propertySubType" ng-model="$parent.form.data.propertySubType" id="ploot" value="ploot">
														<span class="fake-radio"></span>
														<span class="fake-label">ploot</span>
													</label>
												</li>
												<li class="error-text">Oh ! this is error</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="layout add">
								<!--<div class="layout-holder">
									<span class="title">Society:</span>
									<ui-select ng-model="temp.society" theme="select2" ng-disabled="ctrl.disabled" style="min-width: 300px;" title="Choose a Society">
										<ui-select-match placeholder="select a society...">{{$select.selected.name}}</ui-select-match>
										<ui-select-choices repeat="society in societies | propsFilter: {name: $select.search}">
											<div ng-bind-html="society.name | highlight: $select.search"></div>
										</ui-select-choices>
									</ui-select>
								</div>
								<div class="layout-holder">
									<span class="title">Block:</span>
									<ui-select ng-model="temp.block" theme="select2" ng-disabled="ctrl.disabled" style="min-width: 300px;" title="Choose a Block">
										<ui-select-match placeholder="select a Block...">{{$select.selected.name}}</ui-select-match>
										<ui-select-choices repeat="block in blocks | propsFilter: {name: $select.search}">
											<div ng-bind-html="block.name | highlight: $select.search"></div>
										</ui-select-choices>
									</ui-select>
								</div>-->
							</div>
							<strong class="form-heading"><span>Property &amp; Area</span></strong>
							<div class="layout add">
								<div class="layout-holder">
									<span class="title">Price:</span>
									<input type="number" name="price" ng-model="form.data.price" placeholder="Please enter your price">
									<span class="error-text">This is error</span>
									<span class="calculatedPrice"></span>
								</div>
								<div class="layout-holder">
									<span class="title">Property Title:</span>
									<input type="text" name="propertyTitle" ng-model="form.data.propertyTitle" placeholder="Please enter property title">
									<span class="error-text">This is error</span>
								</div>
							</div>
							<div class="layout add">
								<div class="layout-holder">
									<span class="title">Land Area:</span>
									<input type="number" step="any" ng-model="form.data.landArea" placeholder="Please enter land area">
									<span class="error-text">This is error</span>
								</div>
								<div class="layout-holder">
									<span class="title">Unit:</span>
									<select name="land_unit" ng-model="form.data.landUnit">
										<option value="1" selected disabled>Select Unit</option>
										<option value="2">Squar Feet</option>
										<option value="3">Squar Yards</option>
									</select>
									<span class="error-text">This is error</span>
								</div>
							</div>
							<div class="layout add">
								<div class="layout-holder add">
									<span class="title">Description:</span>
									<textarea name="propertyDescription" ng-model="form.data.propertyDescription" placeholder="Please enter description"></textarea>
									<span class="error-text">This is error</span>
								</div>
							</div>
							<div class="layout add">
								<div class="layout-holder">
									<span class="title">Bedrooms:</span>
									<input type="number" placeholder="Number of bedrooms">
									<span class="error-text">This is error</span>
								</div>
								<div class="layout-holder">
									<span class="title">Bedrooms:</span>
									<input type="number" placeholder="Number of bedrooms">
									<span class="error-text">This is error</span>
								</div>
								<div class="layout-holder">
									<span class="title">Bedrooms:</span>
									<input type="number" placeholder="Number of bedrooms">
									<span class="error-text">This is error</span>
								</div>
								<div class="layout-holder">
									<a class="feature-blockOpener">Click here to see extra feature</a>
								</div>
							</div>
						</section>
						<section class="feature-block" id="feature-block">
							<strong class="form-heading"><span>extra features</span></strong>
							<div class="holder">
								<div class="features-section-holder">
									<span class="tag">Main Features</span>
									<ul class="feature-list">
										<li>
											<label>Bedrooms:</label>
											<div class="input-holder">
												<input type="number" placeholder="Number of bedrooms">
											</div>
										</li>
										<li>
											<label>Bedrooms:</label>
											<div class="input-holder">
												<select>
													<option>1</option>
													<option>1</option>
													<option>1</option>
													<option>1</option>
												</select>
											</div>
										</li>
										<li>
											<label>Bedrooms:</label>
											<div class="input-holder">
												<input type="radio">
											</div>
										</li>
										<li>
											<label>Bedrooms:</label>
											<div class="input-holder">
												<input type="checkbox">
											</div>
										</li>
										<li>
											<label>Bedrooms:</label>
											<div class="input-holder">
												<input type="number" placeholder="Number of bedrooms">
											</div>
										</li>
										<li>
											<label>Bedrooms:</label>
											<div class="input-holder">
												<input type="number" placeholder="Number of bedrooms">
											</div>
										</li>
									</ul>
								</div>
								<div class="features-section-holder">
									<span class="tag">Main Features</span>
									<ul class="feature-list">
										<li>
											<label>Bedrooms:</label>
											<div class="input-holder">
												<input type="number" placeholder="Number of bedrooms">
											</div>
										</li>
										<li>
											<label>Bedrooms:</label>
											<div class="input-holder">
												<select>
													<option>1</option>
													<option>1</option>
													<option>1</option>
													<option>1</option>
												</select>
											</div>
										</li>
										<li>
											<label>Bedrooms:</label>
											<div class="input-holder">
												<input type="radio">
											</div>
										</li>
										<li>
											<label>Bedrooms:</label>
											<div class="input-holder">
												<input type="checkbox">
											</div>
										</li>
										<li>
											<label>Bedrooms:</label>
											<div class="input-holder">
												<input type="number" placeholder="Number of bedrooms">
											</div>
										</li>
										<li>
											<label>Bedrooms:</label>
											<div class="input-holder">
												<input type="number" placeholder="Number of bedrooms">
											</div>
										</li>
									</ul>
								</div>
								<div class="features-section-holder">
									<span class="tag">Main Features</span>
									<ul class="feature-list">
										<li>
											<label>Bedrooms:</label>
											<div class="input-holder">
												<input type="number" placeholder="Number of bedrooms">
											</div>
										</li>
										<li>
											<label>Bedrooms:</label>
											<div class="input-holder">
												<select>
													<option>1</option>
													<option>1</option>
													<option>1</option>
													<option>1</option>
												</select>
											</div>
										</li>
										<li>
											<label>Bedrooms:</label>
											<div class="input-holder">
												<input type="radio">
											</div>
										</li>
										<li>
											<label>Bedrooms:</label>
											<div class="input-holder">
												<input type="checkbox">
											</div>
										</li>
										<li>
											<label>Bedrooms:</label>
											<div class="input-holder">
												<input type="number" placeholder="Number of bedrooms">
											</div>
										</li>
										<li>
											<label>Bedrooms:</label>
											<div class="input-holder">
												<input type="number" placeholder="Number of bedrooms">
											</div>
										</li>
									</ul>
								</div>
								<div class="features-section-holder">
									<span class="tag">Main Features</span>
									<ul class="feature-list">
										<li>
											<label>Bedrooms:</label>
											<div class="input-holder">
												<input type="number" placeholder="Number of bedrooms">
											</div>
										</li>
										<li>
											<label>Bedrooms:</label>
											<div class="input-holder">
												<select>
													<option>1</option>
													<option>1</option>
													<option>1</option>
													<option>1</option>
												</select>
											</div>
										</li>
										<li>
											<label>Bedrooms:</label>
											<div class="input-holder">
												<input type="radio">
											</div>
										</li>
										<li>
											<label>Bedrooms:</label>
											<div class="input-holder">
												<input type="checkbox">
											</div>
										</li>
										<li>
											<label>Bedrooms:</label>
											<div class="input-holder">
												<input type="number" placeholder="Number of bedrooms">
											</div>
										</li>
										<li>
											<label>Bedrooms:</label>
											<div class="input-holder">
												<input type="number" placeholder="Number of bedrooms">
											</div>
										</li>
									</ul>
								</div>
								<div class="features-section-holder">
									<span class="tag">Main Features</span>
									<ul class="feature-list">
										<li>
											<label>Bedrooms:</label>
											<div class="input-holder">
												<input type="number" placeholder="Number of bedrooms">
											</div>
										</li>
										<li>
											<label>Bedrooms:</label>
											<div class="input-holder">
												<select>
													<option>1</option>
													<option>1</option>
													<option>1</option>
													<option>1</option>
												</select>
											</div>
										</li>
										<li>
											<label>Bedrooms:</label>
											<div class="input-holder">
												<input type="radio">
											</div>
										</li>
										<li>
											<label>Bedrooms:</label>
											<div class="input-holder">
												<input type="checkbox">
											</div>
										</li>
										<li>
											<label>Bedrooms:</label>
											<div class="input-holder">
												<input type="number" placeholder="Number of bedrooms">
											</div>
										</li>
										<li>
											<label>Bedrooms:</label>
											<div class="input-holder">
												<input type="number" placeholder="Number of bedrooms">
											</div>
										</li>
									</ul>
								</div>
							</div>
						</section>
						<section class="attactment-block" id="attactment-block">
							<strong class="form-heading"><span>attactments</span></strong>
							<ul class="image-uploading-area">
								<li>
									<div class="file-uploader">
										<input type="file" ngf-select ng-model="form.data.files.mainFile.file" onchange="previewAddPropertyImg(this , '.img-thumb1')" class="upload-img">
										<div class="image-holder">
											<img src="#" class="img-thumb1" alt="image Description">
											<span class="propertyDocumentCloseBtn" ng-click="cancelFile(0)"><span class="icon-trash"></span></span>
										</div>
									</div>
									<input type="text" ng-model="form.data.files.mainFile.title" class="picture-name" placeholder="Title">
									<span class="error-text">This is error</span>
								</li>
								<li>
									<div class="file-uploader">
										<input type="file" ngf-select ng-model="form.data.files.twoFile.file" onchange="previewAddPropertyImg(this , '.img-thumb2')" class="upload-img">
										<div class="image-holder">
											<img src="#" class="img-thumb2" alt="image Description">
											<span class="propertyDocumentCloseBtn" ng-click="cancelFile(1)"><span class="icon-trash"></span></span>
										</div>
									</div>
									<input type="text" ng-model="form.data.files.twoFile.title" class="picture-name" placeholder="Title">
									<span class="error-text">This is error</span>
								</li>
								<li>
									<div class="file-uploader">
										<input type="file" ngf-select ng-model="form.data.files.threeFile.file" onchange="previewAddPropertyImg(this , '.img-thumb3')" class="upload-img">
										<div class="image-holder">
											<img src="#" class="img-thumb3" alt="image Description">
											<span class="propertyDocumentCloseBtn" ng-click="cancelFile(2)"><span class="icon-trash"></span></span>
										</div>
									</div>
									<input type="text" ng-model="form.data.files.threeFile.title" class="picture-name" placeholder="Title">
									<span class="error-text">This is error</span>
								</li>
								<li>
									<div class="file-uploader">
										<input type="file" ng-model="form.data.files.fourFile.file" onchange="previewAddPropertyImg(this , '.img-thumb4')" class="upload-img">
										<div class="image-holder">
											<img src="#" class="img-thumb4" alt="image Description">
											<span class="propertyDocumentCloseBtn"><span class="icon-trash"></span></span>
										</div>
									</div>
									<input type="text" ng-model="form.data.files.fourFile.title" class="picture-name" placeholder="Title">
									<span class="error-text">This is error</span>
								</li>
								<li>
									<div class="file-uploader">
										<input type="file" ng-model="form.data.files.fiveFile.file" onchange="previewAddPropertyImg(this , '.img-thumb5')" class="upload-img">
										<div class="image-holder">
											<img src="#" class="img-thumb5" alt="image Description">
											<span class="propertyDocumentCloseBtn"><span class="icon-trash"></span></span>
										</div>
									</div>
									<input type="text" ng-model="form.data.files.fiveFile.title" class="picture-name" placeholder="Title">
									<span class="error-text">This is error</span>
								</li>
								<li>
									<div class="file-uploader">
										<input type="file" ng-model="form.data.files.sixFile.file" onchange="previewAddPropertyImg(this , '.img-thumb6')" class="upload-img">
										<div class="image-holder">
											<img src="#" class="img-thumb6" alt="image Description">
											<span class="propertyDocumentCloseBtn"><span class="icon-trash"></span></span>
										</div>
									</div>
									<input type="text" ng-model="form.data.files.sixFile.title" class="picture-name" placeholder="Title">
									<span class="error-text">This is error</span>
								</li>
							</ul>
						</section>
						<section class="contact-information" id="contact-information">
							<strong class="form-heading"><span>Contact info</span></strong>
							<div class="layout add">
								<div class="layout-holder">
									<span class="title">owner:</span>
									<select name="owner" ng-model="form.data.owner">
										<option value="1">Noman Tufail</option>
									</select>
									<span class="error-text">This is error</span>
								</div>
								<div class="layout-holder">
									<span class="title">contact person:</span>
									<input type="text" name="contact_person" ng-model="form.data.contactPerson" placeholder="Please Enter your contact person">
									<span class="error-text">This is error</span>
								</div>
							</div>
							<div class="layout add">
								<div class="layout-holder">
									<span class="title">Phone:</span>
									<input type="text" name="phone" ng-model="form.data.phone" placeholder="Please enter phone number">
									<span class="error-text">This is error</span>
								</div>
								<div class="layout-holder">
									<span class="title">Cell:</span>
									<input type="text" name="cell" ng-model="form.data.cell" placeholder="Please enter cell number">
									<span class="error-text">This is error</span>
								</div>
							</div>
							<div class="layout add">
								<div class="layout-holder">
									<span class="title">fax:</span>
									<input type="text" name="title" ng-model="form.data.fax" placeholder="please enter Fax">
									<span class="error-text">This is error</span>
								</div>
								<div class="layout-holder">
									<span class="title">email:</span>
									<input type="email" name="email" ng-model="form.data.email" placeholder="Please enter your email">
									<span class="error-text">This is error</span>
								</div>
							</div>
						</section>
						<button type="submit"><span class="icon-arrows"></span>Save Property</button>
					</form>
				</div>
			</div>
		</main>
		<footer id="footer">
			<div class="container">
				<div class="cols-holder">
					<div class="col">
						<h2>Address</h2>
						<address>4105 Garfield Road Bartonville, IL 61607, UAE</address>
					</div>
					<div class="col">
						<h2>About</h2>
						<ul>
							<li><a href="#">Terms of Trade</a></li>
							<li><a href="#">Privacy Policy</a></li>
							<li><a href="#">Copyrights</a></li>
							<li><a href="#">About Us</a></li>
						</ul>
					</div>
					<div class="col">
						<h2>Follow us</h2>
						<ul class="social-networks">
							<li><a href="#" class="facebook"><span class="icon-facebook"></span></a></li>
							<li><a href="#" class="twitter"><span class="icon-twitter"></span></a></li>
						</ul>
					</div>
                    <div class="col">
                        <h2>Contact Us</h2>
                        <form class="contact">
                            <div class="input-holder error">
                                <input type="email" placeholder="Enter you email address">
                                <span class="error-text">Please enter a valid email.</span>
                             </div>
                            <div class="input-holder error">
                                <textarea placeholder="Enter you message"></textarea>
                                <span class="error-text">Please enter a message.</span>
                            </div>
                            <input type="submit"  value="Send">
                        </form>
                    </div>
				</div>
			</div>
		</footer>
	</div>
	<!-- include jQuery library -->
	<script type="text/javascript">window.jQuery || document.write('<script src="js/jquery-1.11.2.min.js" defer><\/script>')</script>
	<script type="text/javascript" src="js/lightBox.js" defer></script>
	<script type="text/javascript" src="js/select2.full.js" defer></script>
	<!-- include custom JavaScript -->
	<script type="text/javascript" src="js/tabset-plugin.js" defer></script>
	<script type="text/javascript" src="js/helper.js" defer></script>
	<script type="text/javascript" src="js/placeholder.js" defer></script>
	<script type="text/javascript" src="js/add-propertyFrom.js" defer></script>
	<script type="text/javascript" src="js/dashboard.js" defer></script>
	<script type="text/javascript" src="js/jquery.main.js" defer></script>
</body>
</html>