<div class="addPropertyFormContainer" ng-controller="AddPropertyController" ng-init="initialize()">
    <div class="listing-holder">
        <a class="listing-opener"><span class="icon-menu"></span></a>
        <ul class="section-listing">
            <li class="activeAddPropertyNavLink"><a href="#wrapper" class="scrollAddPropertyNavLink"><span class="icon-info"></span>Basic</a></li>
            <li><a href="#feature-block" class="scrollAddPropertyNavLink"><span class="icon-symbol"></span> Features</a></li>
            <li><a href="#attactment-block" class="scrollAddPropertyNavLink"><span class="icon-clip"></span> Attachments</a></li>
            <li><a href="#contact-information" class="scrollAddPropertyNavLink"><span class="icon-contact_phone"></span> Contact Info</a></li>
        </ul>
    </div>
    <form class="property-add" ng-submit="submitProperty()">
        <section class="basics-block" id="basics-block">
			<div class="errors">
				<ul>
					<li data-ng-repeat="error in errors">Owner is invalid</li>
					<li data-ng-repeat="error in errors">Owner is invalid</li>
					<li data-ng-repeat="error in errors">Owner is invalid</li>
					<li data-ng-repeat="error in errors">Owner is invalid</li>
					<li data-ng-repeat="error in errors">Owner is invalid</li>
					<li data-ng-repeat="error in errors">Owner is invalid</li>
					<li data-ng-repeat="error in errors">Owner is invalid</li>
					<li data-ng-repeat="error in errors">Owner is invalid</li>
					<li data-ng-repeat="error in errors">Owner is invalid</li>
					<li data-ng-repeat="error in errors">Owner is invalid</li>
				</ul>
        	</div>
            <strong class="form-heading"><span>Property Type and Location</span></strong>
            <div class="layout">
                <span class="title">purpose:</span>
                <div class="input-holder">
                    <ul class="radio-holder">
                        <li>
                            <label for="sale">
                                <input type="radio" ng-model="form.data.propertyPurpose" value="1" name="propertyPurpose" id="sale">
                                <span class="fake-radio"></span>
                                <span class="fake-label">For Sale</span>
                            </label>
                        </li>
                        <li>
                            <label for="rent">
                                <input type="radio" ng-model="form.data.propertyPurpose" value="2" name="propertyPurpose" id="rent">
                                <span class="fake-radio"></span>
                                <span class="fake-label">For Rent</span>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="layout">
                <span class="title">Property Type:</span>
                <div class="input-holder">
                    <ul class="radio-holder">
                        <li>
                            <label for="homes">
                                <input type="radio" name="propertyType" value="1" id="homes">
                                <span class="fake-radio"></span>
                                <span class="fake-label">homes</span>
                            </label>
                        </li>
                        <li>
                            <label for="plot">
                                <input type="radio" name="propertyType" value="1" id="plot">
                                <span class="fake-radio"></span>
                                <span class="fake-label">plot</span>
                            </label>
                        </li>
                        <li>
                            <label for="commercial">
                                <input type="radio" name="propertyType" value="1" id="commercial">
                                <span class="fake-radio"></span>
                                <span class="fake-label">commercial</span>
                            </label>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab1">
                            <ul class="radio-holder">
                                <li>
                                    <label for="house">
                                        <input type="radio" name="propertySubType" ng-model="$parent.form.data.propertySubType" id="house" value="house">
                                        <span class="fake-radio"></span>
                                        <span class="fake-label">house</span>
                                    </label>
                                </li>
                                <li>
                                    <label for="flat">
                                        <input type="radio" name="propertySubType" ng-model="$parent.form.data.propertySubType" id="flat" value="flat">
                                        <span class="fake-radio"></span>
                                        <span class="fake-label">flat</span>
                                    </label>
                                </li>
                                <li>
                                    <label for="ploot">
                                        <input type="radio" name="propertySubType" ng-model="$parent.form.data.propertySubType" id="ploot" value="ploot">
                                        <span class="fake-radio"></span>
                                        <span class="fake-label">ploot</span>
                                    </label>
                                </li>
                                <li>
                                    <label for="ploot">
                                        <input type="radio" name="propertySubType" ng-model="$parent.form.data.propertySubType" id="ploot" value="ploot">
                                        <span class="fake-radio"></span>
                                        <span class="fake-label">ploot</span>
                                    </label>
                                </li>
                                <li>
                                    <label for="ploot">
                                        <input type="radio" name="propertySubType" ng-model="$parent.form.data.propertySubType" id="ploot" value="ploot">
                                        <span class="fake-radio"></span>
                                        <span class="fake-label">ploot</span>
                                    </label>
                                </li>
                                <li>
                                    <label for="ploot">
                                        <input type="radio" name="propertySubType" ng-model="$parent.form.data.propertySubType" id="ploot" value="ploot">
                                        <span class="fake-radio"></span>
                                        <span class="fake-label">ploot</span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layout add">
                <!--<div class="layout-holder">
                    <span class="title">Society:</span>
                    <ui-select ng-model="temp.society" theme="select2" ng-disabled="ctrl.disabled" style="min-width: 300px;" title="Choose a Society">
                        <ui-select-match placeholder="select a society...">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="society in societies | propsFilter: {name: $select.search}">
                            <div ng-bind-html="society.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="layout-holder">
                    <span class="title">Block:</span>
                    <ui-select ng-model="temp.block" theme="select2" ng-disabled="ctrl.disabled" style="min-width: 300px;" title="Choose a Block">
                        <ui-select-match placeholder="select a Block...">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="block in blocks | propsFilter: {name: $select.search}">
                            <div ng-bind-html="block.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>-->
            </div>
            <strong class="form-heading"><span>Property &amp; Area</span></strong>
            <div class="layout add">
                <div class="layout-holder">
                    <span class="title">Price:</span>
                    <input type="number" name="price" ng-model="form.data.price">
                </div>
                <span class="calculatedPrice"></span>
            </div>
            <div class="layout add">
                <div class="layout-holder">
                    <span class="title">Land Area:</span>
                    <input type="number" step="any" ng-model="form.data.landArea">
                </div>
                <div class="layout-holder">
                    <span class="title">Unit:</span>
                    <select name="land_unit" ng-model="form.data.landUnit">
                        <option value="1" selected disabled>Select Unit</option>
                        <option value="2">Squar Feet</option>
                        <option value="3">Squar Yards</option>
                    </select>
                </div>
            </div>
            <strong class="form-heading"><span>Property Details</span></strong>
            <div class="layout add">
                <div class="layout-holder">
                    <span class="title">Property Title:</span>
                    <input type="text" name="propertyTitle" ng-model="form.data.propertyTitle">
                </div>
            </div>
            <div class="layout add">
                <div class="layout-holder add">
                    <span class="title">Description:</span>
                    <textarea name="propertyDescription" ng-model="form.data.propertyDescription"></textarea>
                </div>
            </div>
            <div class="layout add">
                <div class="layout-holder">
                    <span class="title">Bedrooms:</span>
					<input type="number">
                </div>
                <div class="layout-holder">
                    <span class="title">Bedrooms:</span>
					<input type="number">
                </div>
                <div class="layout-holder">
                    <span class="title">Bedrooms:</span>
					<input type="number">
                </div>
            </div>
        </section>
        <section class="feature-block" id="feature-block">
            <strong class="form-heading"><span>extra features</span></strong>
            <div class="holder">
                <div class="features-section-holder">
                    <span class="tag">Main Features</span>
                    <ul class="feature-list">
                        <li>
                            <label>Bedrooms:</label>
                            <div class="input-holder">
								<input type="number">
							</div>
                        </li>
						<li>
                            <label>Bedrooms:</label>
                            <div class="input-holder">
								<select>
									<option>1</option>
									<option>1</option>
									<option>1</option>
									<option>1</option>
								</select>
							</div>
                        </li>
						<li>
                            <label>Bedrooms:</label>
                            <div class="input-holder">
								<input type="radio">
							</div>
                        </li>
						<li>
                            <label>Bedrooms:</label>
                            <div class="input-holder">
								<input type="checkbox">
							</div>
                        </li>
						<li>
                            <label>Bedrooms:</label>
                            <div class="input-holder">
								<input type="number">
							</div>
                        </li>
						<li>
                            <label>Bedrooms:</label>
                            <div class="input-holder">
								<input type="number">
							</div>
                        </li>
                    </ul>
                </div>
				<div class="features-section-holder">
                    <span class="tag">Main Features</span>
                    <ul class="feature-list">
                        <li>
                            <label>Bedrooms:</label>
                            <div class="input-holder">
								<input type="number">
							</div>
                        </li>
						<li>
                            <label>Bedrooms:</label>
                            <div class="input-holder">
								<select>
									<option>1</option>
									<option>1</option>
									<option>1</option>
									<option>1</option>
								</select>
							</div>
                        </li>
						<li>
                            <label>Bedrooms:</label>
                            <div class="input-holder">
								<input type="radio">
							</div>
                        </li>
						<li>
                            <label>Bedrooms:</label>
                            <div class="input-holder">
								<input type="checkbox">
							</div>
                        </li>
						<li>
                            <label>Bedrooms:</label>
                            <div class="input-holder">
								<input type="number">
							</div>
                        </li>
						<li>
                            <label>Bedrooms:</label>
                            <div class="input-holder">
								<input type="number">
							</div>
                        </li>
                    </ul>
                </div>
				<div class="features-section-holder">
                    <span class="tag">Main Features</span>
                    <ul class="feature-list">
                        <li>
                            <label>Bedrooms:</label>
                            <div class="input-holder">
								<input type="number">
							</div>
                        </li>
						<li>
                            <label>Bedrooms:</label>
                            <div class="input-holder">
								<select>
									<option>1</option>
									<option>1</option>
									<option>1</option>
									<option>1</option>
								</select>
							</div>
                        </li>
						<li>
                            <label>Bedrooms:</label>
                            <div class="input-holder">
								<input type="radio">
							</div>
                        </li>
						<li>
                            <label>Bedrooms:</label>
                            <div class="input-holder">
								<input type="checkbox">
							</div>
                        </li>
						<li>
                            <label>Bedrooms:</label>
                            <div class="input-holder">
								<input type="number">
							</div>
                        </li>
						<li>
                            <label>Bedrooms:</label>
                            <div class="input-holder">
								<input type="number">
							</div>
                        </li>
                    </ul>
                </div>
				<div class="features-section-holder">
                    <span class="tag">Main Features</span>
                    <ul class="feature-list">
                        <li>
                            <label>Bedrooms:</label>
                            <div class="input-holder">
								<input type="number">
							</div>
                        </li>
						<li>
                            <label>Bedrooms:</label>
                            <div class="input-holder">
								<select>
									<option>1</option>
									<option>1</option>
									<option>1</option>
									<option>1</option>
								</select>
							</div>
                        </li>
						<li>
                            <label>Bedrooms:</label>
                            <div class="input-holder">
								<input type="radio">
							</div>
                        </li>
						<li>
                            <label>Bedrooms:</label>
                            <div class="input-holder">
								<input type="checkbox">
							</div>
                        </li>
						<li>
                            <label>Bedrooms:</label>
                            <div class="input-holder">
								<input type="number">
							</div>
                        </li>
						<li>
                            <label>Bedrooms:</label>
                            <div class="input-holder">
								<input type="number">
							</div>
                        </li>
                    </ul>
                </div>
				<div class="features-section-holder">
                    <span class="tag">Main Features</span>
                    <ul class="feature-list">
                        <li>
                            <label>Bedrooms:</label>
                            <div class="input-holder">
								<input type="number">
							</div>
                        </li>
						<li>
                            <label>Bedrooms:</label>
                            <div class="input-holder">
								<select>
									<option>1</option>
									<option>1</option>
									<option>1</option>
									<option>1</option>
								</select>
							</div>
                        </li>
						<li>
                            <label>Bedrooms:</label>
                            <div class="input-holder">
								<input type="radio">
							</div>
                        </li>
						<li>
                            <label>Bedrooms:</label>
                            <div class="input-holder">
								<input type="checkbox">
							</div>
                        </li>
						<li>
                            <label>Bedrooms:</label>
                            <div class="input-holder">
								<input type="number">
							</div>
                        </li>
						<li>
                            <label>Bedrooms:</label>
                            <div class="input-holder">
								<input type="number">
							</div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="attactment-block" id="attactment-block">
            <strong class="form-heading"><span>attactments</span></strong>
            <ul class="image-uploading-area">
                <li>
                    <div class="file-uploader">
                        <input type="file" ngf-select ng-model="form.data.files.mainFile.file" onchange="previewAddPropertyImg(this , '.img-thumb1')" class="upload-img">
                        <div class="image-holder">
                            <img src="#" class="img-thumb1" alt="image Description">
                            <span class="propertyDocumentCloseBtn" ng-click="cancelFile(0)"><span class="icon-trash"></span></span>
                        </div>
                    </div>
                    <input type="text" ng-model="form.data.files.mainFile.title" class="picture-name disableInput" placeholder="Title">
                </li>
                <li>
                    <div class="file-uploader">
                        <input type="file" ngf-select ng-model="form.data.files.twoFile.file" onchange="previewAddPropertyImg(this , '.img-thumb2')" class="upload-img">
                        <div class="image-holder">
                            <img src="#" class="img-thumb2" alt="image Description">
                            <span class="propertyDocumentCloseBtn" ng-click="cancelFile(1)"><span class="icon-trash"></span></span>
                        </div>
                    </div>
                    <input type="text" ng-model="form.data.files.twoFile.title" class="picture-name disableInput" placeholder="Title">
                </li>
                <li>
                    <div class="file-uploader">
                        <input type="file" ngf-select ng-model="form.data.files.threeFile.file" onchange="previewAddPropertyImg(this , '.img-thumb3')" class="upload-img">
                        <div class="image-holder">
                            <img src="#" class="img-thumb3" alt="image Description">
                            <span class="propertyDocumentCloseBtn" ng-click="cancelFile(2)"><span class="icon-trash"></span></span>
                        </div>
                    </div>
                    <input type="text" ng-model="form.data.files.threeFile.title" class="picture-name disableInput" placeholder="Title">
                </li>
                <li>
                    <div class="file-uploader">
                        <input type="file" ng-model="form.data.files.fourFile.file" onchange="previewAddPropertyImg(this , '.img-thumb4')" class="upload-img">
                        <div class="image-holder">
                            <img src="#" class="img-thumb4" alt="image Description">
                            <span class="propertyDocumentCloseBtn"><span class="icon-trash"></span></span>
                        </div>
                    </div>
                    <input type="text" ng-model="form.data.files.fourFile.title" class="picture-name disableInput" placeholder="Title">
                </li>
                <li>
                    <div class="file-uploader">
                        <input type="file" ng-model="form.data.files.fiveFile.file" onchange="previewAddPropertyImg(this , '.img-thumb5')" class="upload-img">
                        <div class="image-holder">
                            <img src="#" class="img-thumb5" alt="image Description">
                            <span class="propertyDocumentCloseBtn"><span class="icon-trash"></span></span>
                        </div>
                    </div>
                    <input type="text" ng-model="form.data.files.fiveFile.title" class="picture-name disableInput" placeholder="Title">
                </li>
                <li>
                    <div class="file-uploader">
                        <input type="file" ng-model="form.data.files.sixFile.file" onchange="previewAddPropertyImg(this , '.img-thumb6')" class="upload-img">
                        <div class="image-holder">
                            <img src="#" class="img-thumb6" alt="image Description">
                            <span class="propertyDocumentCloseBtn"><span class="icon-trash"></span></span>
                        </div>
                    </div>
                    <input type="text" ng-model="form.data.files.sixFile.title" class="picture-name disableInput" placeholder="Title">
                </li>
                <li>
                    <div class="file-uploader">
                        <input type="file" ng-model="form.data.files.sevenFile.file" onchange="previewAddPropertyImg(this , '.img-thumb7')" class="upload-img">
                        <div class="image-holder">
                            <img src="#" class="img-thumb7" alt="image Description">
                            <span class="propertyDocumentCloseBtn"><span class="icon-trash"></span></span>
                        </div>
                    </div>
                    <input type="text" ng-model="form.data.files.sevenFile.title" class="picture-name disableInput" placeholder="Title">
                </li>
                <li>
                    <div class="file-uploader">
                        <input type="file" ng-model="form.data.files.eightFile.file" onchange="previewAddPropertyImg(this , '.img-thumb8')" class="upload-img">
                        <div class="image-holder">
                            <img src="#" class="img-thumb8" alt="image Description">
                            <span class="propertyDocumentCloseBtn"><span class="icon-trash"></span></span>
                        </div>
                    </div>
                    <input type="text" ng-model="form.data.files.eightFile.title" class="picture-name disableInput" placeholder="Title">
                </li>
            </ul>
        </section>
        <section class="contact-information" id="contact-information">
            <strong class="form-heading"><span>Contact info</span></strong>
            <div class="layout add">
                <div class="layout-holder">
                    <span class="title">owner:</span>
                    <select name="owner" ng-model="form.data.owner">
                        <option value="1">Noman Tufail</option>
                    </select>
                </div>
                <div class="layout-holder">
                    <span class="title">contact person:</span>
                    <input type="text" name="contact_person" ng-model="form.data.contactPerson">
                </div>
            </div>
            <div class="layout add">
                <div class="layout-holder">
                    <span class="title">Phone:</span>
                    <input type="text" name="phone" ng-model="form.data.phone">
                </div>
                <div class="layout-holder">
                    <span class="title">Cell:</span>
                    <input type="text" name="cell" ng-model="form.data.cell">
                </div>
            </div>
            <div class="layout add">
                <div class="layout-holder">
                    <span class="title">fax:</span>
                    <input type="text" name="title" ng-model="form.data.fax">
                </div>
                <div class="layout-holder">
                    <span class="title">email:</span>
                    <input type="email" name="email" ng-model="form.data.email">
                </div>
            </div>
        </section>
        <button type="submit"><span class="icon-arrows"></span>Save Property</button>
    </form>

</div>