.addAgency-user .addAgency-user-form .input-feilds {
  margin: 0;
  padding: 0;
  list-style: none;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.ellipsis {
  white-space: nowrap;
  /* 1 */
  text-overflow: ellipsis;
  /* 2 */
  overflow: hidden;
}

/*Add Agency User Form*/
.addAgency-user {
  overflow: hidden;
  padding: 20px 20px 0;
  transition: padding 0.4s ease;
  -moz-transition: padding 0.4s ease;
  -ms-transition: padding 0.4s ease;
  -webkit-transition: padding 0.4s ease;
}

.sideBar-active .addAgency-user {
  padding: 20px 20px 0 320px;
}

@media (max-width: 1023px) {
  .sideBar-active .addAgency-user {
    padding: 20px 20px 0 260px;
  }
}

@media (max-width: 767px) {
  .sideBar-active .addAgency-user {
    padding: 20px 20px 0;
  }
}

.addAgency-user .addAgency-user-form {
  max-width: 790px;
  margin: 0 auto;
}

.addAgency-user .addAgency-user-form h1 {
  font-style: italic;
  font-weight: 600;
  color: #133783;
  text-transform: capitalize;
  font-size: 30px;
  line-height: 33px;
  text-align: center;
  margin: 0 0 40px;
}

.addAgency-user .addAgency-user-form .input-feilds {
  font-size: 0;
  line-height: 0;
  letter-spacing: -4px;
  margin: 0 -10px;
  padding: 0 0 30px;
}

.addAgency-user .addAgency-user-form .input-feilds > * {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0;
}

.addAgency-user .addAgency-user-form .input-feilds li {
  width: 50%;
  padding: 0 10px;
  margin: 0 0 10px;
}

@media (max-width: 1199px) {
  .addAgency-user .addAgency-user-form .input-feilds li {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .addAgency-user .addAgency-user-form .input-feilds li {
    width: 100%;
  }
}

.addAgency-user .addAgency-user-form .input-feilds li.error .error-text {
  display: block;
}

.addAgency-user .addAgency-user-form .input-feilds li.error input[type="text"], .addAgency-user .addAgency-user-form .input-feilds li.error input[type="email"], .addAgency-user .addAgency-user-form .input-feilds li.error input[type="password"], .addAgency-user .addAgency-user-form .input-feilds li.error input[type="tel"] {
  border-color: #e14646;
}

.addAgency-user .addAgency-user-form .input-feilds li label {
  float: left;
  width: 85px;
  font-size: 14px;
  line-height: 18px;
  color: #133783;
}

@media (max-width: 1023px) {
  .addAgency-user .addAgency-user-form .input-feilds li label {
    font-size: 12px;
    line-height: 15px;
    width: 100px;
  }
}

.addAgency-user .addAgency-user-form .input-feilds li .input-holder {
  overflow: hidden;
}

.addAgency-user .addAgency-user-form input[type="text"], .addAgency-user .addAgency-user-form input[type="email"], .addAgency-user .addAgency-user-form input[type="password"], .addAgency-user .addAgency-user-form input[type="tel"] {
  display: block;
  padding: 5px;
  width: 100%;
  height: 30px;
  font-size: 13px;
  line-height: 16px;
  border: 1px solid #133783;
  transition: border 0.4s ease;
  -webkit-transition: border 0.4s ease;
  -moz-transition: border 0.4s ease;
  -ms-transition: border 0.4s ease;
}

.addAgency-user .addAgency-user-form input[type="text"]:focus, .addAgency-user .addAgency-user-form input[type="email"]:focus, .addAgency-user .addAgency-user-form input[type="password"]:focus, .addAgency-user .addAgency-user-form input[type="tel"]:focus {
  border-color: #489ddd;
}

.addAgency-user .addAgency-user-form input[type="text"]:focus::-webkit-input-placeholder, .addAgency-user .addAgency-user-form input[type="email"]:focus::-webkit-input-placeholder, .addAgency-user .addAgency-user-form input[type="password"]:focus::-webkit-input-placeholder, .addAgency-user .addAgency-user-form input[type="tel"]:focus::-webkit-input-placeholder {
  color: #000;
}

.addAgency-user .addAgency-user-form input[type="text"]:focus::-moz-placeholder, .addAgency-user .addAgency-user-form input[type="email"]:focus::-moz-placeholder, .addAgency-user .addAgency-user-form input[type="password"]:focus::-moz-placeholder, .addAgency-user .addAgency-user-form input[type="tel"]:focus::-moz-placeholder {
  opacity: 1;
  color: #000;
}

.addAgency-user .addAgency-user-form input[type="text"]:focus:-moz-placeholder, .addAgency-user .addAgency-user-form input[type="email"]:focus:-moz-placeholder, .addAgency-user .addAgency-user-form input[type="password"]:focus:-moz-placeholder, .addAgency-user .addAgency-user-form input[type="tel"]:focus:-moz-placeholder {
  color: #000;
}

.addAgency-user .addAgency-user-form input[type="text"]:focus:-ms-input-placeholder, .addAgency-user .addAgency-user-form input[type="email"]:focus:-ms-input-placeholder, .addAgency-user .addAgency-user-form input[type="password"]:focus:-ms-input-placeholder, .addAgency-user .addAgency-user-form input[type="tel"]:focus:-ms-input-placeholder {
  color: #000;
}

.addAgency-user .addAgency-user-form input[type="text"]:focus.placeholder, .addAgency-user .addAgency-user-form input[type="email"]:focus.placeholder, .addAgency-user .addAgency-user-form input[type="password"]:focus.placeholder, .addAgency-user .addAgency-user-form input[type="tel"]:focus.placeholder {
  color: #000;
}

.addAgency-user .addAgency-user-form .error-text {
  display: none;
  width: 100%;
  font-size: 13px;
  line-height: 17px;
  font-weight: 600;
  color: #e14646;
  padding: 3px;
}

@media (max-width: 1199px) {
  .addAgency-user .addAgency-user-form .error-text {
    text-align: left;
  }
}

.addAgency-user .addAgency-user-form button[type="submit"] {
  display: block;
  color: #fff;
  background: #58a36f;
  width: 300px;
  margin: 0 auto;
  font-weight: 600;
  border: 0;
  border-radius: 4px;
  padding: 0;
}

@media (max-width: 767px) {
  .addAgency-user .addAgency-user-form button[type="submit"] {
    width: 200px;
  }
}

.addAgency-user .addAgency-user-form button[type="submit"] span {
  padding: 10px 5px;
  display: block;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.addAgency-user .addAgency-user-form button[type="submit"] span:after {
  position: absolute;
  top: 0;
  left: 100%;
  right: 0;
  bottom: 0;
  background: #489ddd;
  content: '';
  z-index: -1;
  transition: left 0.4s ease, background 0.4s ease;
  -webkit-transition: left 0.4s ease, background 0.4s ease;
  -moz-transition: left 0.4s ease, background 0.4s ease;
  -ms-transition: left 0.4s ease, background 0.4s ease;
  border-radius: 4px;
}

.addAgency-user .addAgency-user-form button[type="submit"]:hover span:after {
  left: 0;
}
