.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.ellipsis {
  white-space: nowrap;
  /* 1 */
  text-overflow: ellipsis;
  /* 2 */
  overflow: hidden;
}

/*list Agency User*/
.listAgency-user {
  overflow: hidden;
  padding: 20px 20px 0;
  transition: padding 0.4s ease;
  -moz-transition: padding 0.4s ease;
  -ms-transition: padding 0.4s ease;
  -webkit-transition: padding 0.4s ease;
}

.sideBar-active .listAgency-user {
  padding: 20px 20px 0 320px;
}

@media (max-width: 1023px) {
  .sideBar-active .listAgency-user {
    padding: 20px 20px 0 260px;
  }
}

@media (max-width: 767px) {
  .sideBar-active .listAgency-user {
    padding: 20px 20px 0;
  }
}

.listAgency-user .table-responsive {
  overflow-x: auto;
}

.listAgency-user table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  line-height: 18px;
}

@media (max-width: 1199px) {
  .listAgency-user table {
    width: 1024px;
  }
}

.listAgency-user table tr {
  width: 100%;
  position: relative;
}

.listAgency-user table tr.deleting:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 1px;
  padding: 7px 0;
  background: rgba(255, 255, 255, 0.9);
  content: 'Deleting...';
  color: #e14646;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

.listAgency-user table tr:hover td {
  background: rgba(0, 0, 0, 0.02);
}

.listAgency-user table a {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  margin: 0 3px;
}

.listAgency-user table a.edit {
  color: #ef9521;
}

.listAgency-user table a.edit:hover {
  color: #b66c0d;
}

.listAgency-user table a.delete {
  color: #e14646;
}

.listAgency-user table a.delete:hover {
  color: #bc1e1e;
}

.listAgency-user table th {
  text-align: left;
  padding: 10px;
  background: rgba(19, 55, 131, 0.5);
  color: #fff;
}

.listAgency-user table th:first-child {
  border-radius: 4px 0 0 4px;
}

.listAgency-user table th:last-child {
  border-radius: 0 4px 4px 0;
}

.listAgency-user table td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.listAgency-user table td .fake-address {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 200px;
}
