/*Add Agency User Form*/
.addAgency-user{
    overflow: hidden;
    padding:20px 20px 0;
     transition: padding 0.4s ease;
    -moz-transition: padding 0.4s ease;
    -ms-transition: padding 0.4s ease;
    -webkit-transition: padding 0.4s ease;
    
    .sideBar-active & {
        padding: 20px 20px 0 320px;
        
        @include media('<desktop'){
            padding: 20px 20px 0 260px;
        }
        
         @include media('<tablet'){
             padding: 20px 20px 0;
         }
    }
    
    .addAgency-user-form {
        max-width: 790px;
        margin: 0 auto;
        
        h1 {
            font-style: italic;
            font-weight: 600;
            color: $defualt-blue;
            text-transform: capitalize;
            @include font(30,33);
            text-align: center;
            margin: 0 0 40px;
        }
        
        .input-feilds {
            @extend %listreset;
            @include align-reset(top,16,19);
            margin: 0 -10px;
            padding: 0 0 30px;
            
            li {
                width: 50%;
                padding: 0 10px;
                margin: 0 0 10px;
                
                @include media('<widescreen') {
                    width: 50%;
                }
                
                @include media('<tablet'){
                    width: 100%;
                }
                
                &.error{
                    .error-text{ display: block;}
                    input[type="text"],input[type="email"],input[type="password"],input[type="tel"]{ border-color: $red;}
                }
                
                label{
                    float: left;
                    width: 85px;
                    @include font(14,18);
                    color: $defualt-blue;
                    
                    @include media('<desktop'){
                        @include font(12,15);
                        width: 100px;
                    }
                }
                .input-holder {
                    overflow: hidden;
                }
            }
        }
        input[type="text"],input[type="email"],input[type="password"],input[type="tel"]{
            display: block;
            padding: 5px;
            @include squar(100%, 30px);
            @include font(13,16);
            border: 1px solid $defualt-blue;
            transition: border 0.4s ease;
            -webkit-transition: border 0.4s ease;
            -moz-transition: border 0.4s ease;
            -ms-transition: border 0.4s ease;
            
            &:focus{
                border-color: $mix-blue;
                
                @include placeholder{ color: $black;}
            }
        }
        .error-text {
            display: none;
            width: 100%;
            @include font(13,17);
            font-weight: 600;
            color: $red;
            padding: 3px;
            
             @include media('<widescreen') {
                 text-align: left;
             }
        }
        button[type="submit"]{
            display: block;
            color: $white;
            background: $green;
            width: 300px;
            margin: 0 auto;
            font-weight: 600;
            border: 0;
            border-radius: 4px;
            padding: 0;
            
            @include media('<tablet'){
                width: 200px;
            }
            
            span{
                padding: 10px 5px;
                display: block;
                position: relative;
                overflow: hidden;
                z-index: 1;
                
                &:after{
                    position: absolute;
                    top: 0;
                    left: 100%;
                    right: 0;
                    bottom: 0;
                    background: $mix-blue;
                    content: '';
                    z-index: -1;
                    transition: left 0.4s ease, background 0.4s ease;
                    -webkit-transition: left 0.4s ease, background 0.4s ease;
                    -moz-transition: left 0.4s ease, background 0.4s ease;
                    -ms-transition: left 0.4s ease, background 0.4s ease;
                    border-radius: 4px;
                }
            }
            
            &:hover{
                span{
                    &:after{
                        left: 0;
                    }
                }
            }
        }
    }
}