.changePassword,
.registrationFormHolder{
    overflow: hidden;
    padding: 20px;
    transition: padding 0.4s ease;
    
    .sideBar-active & {
        padding: 20px 20px 20px 320px;
        
        @include media('<desktop'){
            padding: 20px 20px 20px 260px;
        }
        @include media('<tablet'){
            padding: 20px;
        }
    }
}
.changePassword-form,
.registration-form {
    background:rgba($index-white, 0.2);
    border-radius: 5px;
    padding: 25px;
    overflow: hidden;
    max-width: 800px;
    margin: 0 auto;
    @include align-reset(top,18,21);
    
    @include media('<desktop'){
        padding: 5px;
    }
    
    .heading-profile {
         display: block;
         width: 100%;
         text-transform: capitalize;
         @include font(25,28);
         color: $defualt-blue;
         text-align: center;
         padding: 0 0 20px;
         font-style: italic;
    }
    
    &.agent-info{
        .agent-information {
            min-height: 545px;
            opacity: 1;
            height: auto;
        
        @include media('<tablet'){
            padding: 185px 0 0;
        }
      }
    }
    
    .input-holder{
        width: 50%;
        
        @include media('<tablet'){
            width: 100%;
            float: none;
            overflow: hidden;
        }
    }
    .roles {
        overflow: hidden;
        
        .role-opener {
            display: block;
            text-transform: capitalize;
            cursor: pointer;
            color: $mix-grays;
            position: relative;
            padding: 0 0 10px 50px;
            border-bottom: 1px solid rgba($mix-grays, 0.5);
            
            @include media('<desktop'){
                @include font(13,15);
                padding: 0 0 10px 35px;
            }
        
            &:before {
                font-family: 'icomoon';
                content: "\e973";
                position: absolute;
                top: 0;
                left: 10px;
                font-size: 20px;
                line-height: 1;
                
                @include media('<desktop'){
                    font-size: 13px;
                }
            }
            &:after{
                position: absolute;
                left: 0;
                right: 100%;
                bottom: 0;
                content: '';
                height: 2px;
                background: $mix-grays;
                margin: -1px 0 0;
                transition:right 0.2s ease;
            }
            &.active {
                &:after { right: 0;}
            }
        }        
    }
    .societiesBlock-listing,
    .role-listing {
        @extend %listreset;
        padding: 10px 0 0;
        @include align-reset(top,16,19);
        
        @include media('<desktop'){
            @include align-reset(top,13,15);
        }
    
        li {
            width: 33.33%;
            overflow: hidden;
            padding: 5px;
            
            @include media('<tablet'){
                width: 100%;
            }
            
            label,
            input[type="checkbox"] {
                @include align(middle);
                cursor: pointer;
            }
        }
    }
    .societiesBlock-listing {
        padding: 0;
        border-color: rgba($black, 0.2);
        border-style: solid;
        border-width: 0 1px 1px;
        margin: -5px 0 0;
        max-height: 200px;
        overflow-y: auto;
        overflow-x: hidden;

        li {
        overflow: hidden;
        cursor: pointer;
        
        &:hover {
            background: $index-white;
        }

        input[type="checkbox"]{
            float: left;
            width: 10%;
            margin: 4px 0 0;
        }
        label{
            float: left;
            width: 90%;
        }
      }
    }
    .calculatedSocieties{
        position: absolute;
        top: 50%;
        margin: -7px 0 0;
        color: $defualt-blue;
        font-weight: 600;
        @include font(14,19);
        right: 10px;
        display: block;
        max-width: 165px;

        @include media('<tablet'){
        @include font(12,15);
        }
    }
    
    .input-holder{
        overflow: hidden;
        padding: 5px;
        position: relative;
        margin: 0 0 20px;
        
        &.full-width{
            float: none;
            display: block;
            width: 100%;
            clear: both;
            overflow: hidden;
        }
        
        &.no-indent {
            margin: 0;
        }

        &.onTop-mobile{
            @include media('<tablet'){
                position: absolute;
                top: 50px;
                left: 0;
                right: 0;
            }
            .error-text {
                text-align: center;
            }
        }
        .error-text { display: none;}
        &.error {
            color: $red !important;
        
            .error-text {
                display: block;
                @include font(13,16);
                font-weight: 600;
                text-transform: capitalize;
                padding: 3px;
                color: $red !important;
            }
            textarea,  
            input[type="text"],input[type="tel"], input[type="email"], input[type="password"] {
                color: $red;
                
            }
            > label[class^="icon-"], > label[class*="icon-"]{ color: $red;}
            .border {
                &:before{ background: $red;}
            }
            .role-opener {
                border-bottom: 1px solid $red;
                
                &:before { color: $red;}
            }
            .role-listing {
                color: $mix-grays !important;
            }
        }
        
        textarea,  
        input[type="text"],input[type="tel"], input[type="email"], input[type="password"] {
            border: 0;
            display: block;
            color: $mix-black;
            @include squar(100%, 40px);
            @include font(18,23);
            transition: color 0.4s ease;
            outline: none;
            background: transparent;
            padding:6px 10px 6px 50px;
            
            &#search-society{
                padding:6px 170px 6px 50px;

                @include media('<tablet'){
                padding:6px 125px 6px 30px;
                }
            }

            @include media('<widescreen'){
                @include font(15,23);
            }
            
            @include media('<desktop'){
                padding: 6px 10px 6px 25px;
                @include font(13,23);
            }
            
            
            @include placeholder{
                color: lighten($mix-black, 20%);
                transition: color 0.5s ease;
            }
        
            &:focus {
                color: darken($mix-black, 20%);
                
                @include placeholder{ color: darken($mix-black, 20%);}
                
                ~ .border {
                    &:after{
                        right: 0;
                    }
                }
            }
        }
        textarea {
            resize: none;
            padding: 9px 5px 6px 50px;
            overflow: auto;
            height: 100px;
            @include font(14,17);
            
            @include media('<tablet'){
                height: 80px;
                padding: 9px 5px 6px 25px;
            }
        }
        > label[class^="icon-"], > label[class*="icon-"]{
            position: absolute;
            top: 0;
            left: 0;
            bottom: 2px;
            content: '';
            color: $mix-grays;
            @include font(20,50);
            width: 50px;
            z-index: 8;
            text-align: center;
            cursor: pointer;
            
            @include media('<desktop'){
                @include font(14,50);
                width: 30px;
            }
            
        }
        .border {
            display: block;
            position: relative;
            
            &:before{
                position: absolute;
                left: 0;
                right: 0;
                bottom: -2px;
                height: 1px;
                content: '';
                background: rgba($mix-black,0.4);
            }
        
            &:after{
                position: absolute;
                top: 0;
                left: 0;
                right: 100%;
                bottom: 0;
                content: '';
                height: 2px;
                background: $mix-grays;
                margin: -1px 0 0;
                transition:right 0.2s ease;
            }
        }
        .forgot-pass{
            position: absolute;
            top: 50%;
            right: 0;
            text-decoration: none;
            @include align(top);
            transition: color 0.4s ease;
            margin: -11px 5px 0 0;
            
            @include media('<tablet'){
                @include font(11,15);
                margin: -8px 5px 0 0;
            }
            
            &:hover{
                color: $red;
            }
            
            [class^="icon-"], [class*="icon-"] {
                @include align(middle);
                margin: -2px 0 0;
            }
        }
    }
    button[type="submit"]{
        border: 0;
        background: $mix-blue;
        text-align: center;
        color: $white;
        font-weight: 600;
        display: block;
        width: 100%;
        padding: 15px 20px;
        border-radius: 2px;
        @include font(20,24);
        outline: none;
        transition: background 0.4s ease;
        
        @include media('<tablet'){
            @include font(16,19);
            padding: 8px;
        }
        
        [class^="icon-"], [class*="icon-"] {
        @include align(middle);
        margin: -2px 0 0;
        position: relative;
        right: 0;
        transition: right 0.4s ease;
        }
        
        &:hover{
            background: darken( $mix-blue, 5%);
            
            [class^="icon-"], [class*="icon-"] {
                right: -10px;
            }
        }
    }
    .agent-check {
        float: left;
        margin: 25px 50px 0;
        position: relative;
        z-index: 60;
        
        @include media('<desktop'){
            margin: 25px 20px 0;
            @include font(13,15);
        }
        
        &:after{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 55;
            content: '';
        }
        
        .hidden-checkfield{
            visibility: visible;
            top: 0;
            left: 0;
            opacity: 0;
            position: fixed;
        
            &:checked ~ {
                
                .fake-checkbox{
                    background: #00e359;
                    box-shadow: none;
                    
                .fake-button {
                        left: 48%;
                        background: $white;
                        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 162, 63, 1);
                    }
                }
                .fake-label{
                    color: $black;
                }
            }
        }
        .fake-checkbox{
            @include squar(40px, 20px);
            border-radius: 20px;
            float: left;
            background: $light-gray;
            box-shadow: inset 0 0 5px -2px rgba(0,0,0,0.5);
            position: relative;
            transition: background 0.4s ease;
            z-index: -1;
            
            .fake-button {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                width: 21px;
                border-radius: 100%;
                background: $light-gray;
                border: 1px solid rgba($mix-black, 0.2);
                content: '';
                transition: left 0.4s cubic-bezier(0.54, 1.85, 0.5, 1);
                cursor: pointer;
            }
        }
        .fake-label {
            float: left;
            cursor: pointer;
            max-width: 200px;
            padding: 0 0 0 10px;
            position: relative;
            z-index: -1;
            color: $dove-black;
        }
    }
    h1 {
        display: block;
        margin: 10px 0;
        clear: both;
        padding: 8px 0;
        text-align: center;
        @include font(18,21);
        color: $black;
        background: lighten($light-gray,5%);
        font-weight: 600;
    }
    .company-logo{
        @include squar(70px,70px);
        overflow: hidden;
        border-radius: 100%;
        margin: 0  auto;
        position: relative;
        background: $light-gray;
        z-index: 6;
        
        &.image-loaded{
            &:hover{
                .delete{ display: block;}
            }
            .name-tag{ display: none;}
            .picture-holder{ display: block;}
        }
        
        .picture-holder{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            @include squar(100%,100%);
            display: none;
            border-radius: 100%;
            
            img{
                @include img-res;
                height: 100%;
            }
        }
        
        .delete{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(255,255,255,0.5);
            @include font(40,40);
            padding:14px 16px;
            color: $red;
            cursor: pointer;
            display: none;
        
            span{ display: block;}
        }
        
        .name-tag {
            position: absolute;
            top: 10px;
            left: 0;
            right: 0;
            text-align: center;
            z-index: -1;
            @include font(12,15);
            color: $mix-black;
        }
        
        input[type="file"]{
            @include squar(100%, 100%);
            opacity: 0;
        }
    }
}
.agent-information {
    display: block;
    width: 100%;
    overflow: hidden;
    position: relative;
    clear: left;
    min-height: 0;
    opacity: 0;
    height: 0;
    @include align-reset(top,18,21);
    transition: min-height 0.5s cubic-bezier(0.05, 1.6, 0.1, 1), opacity 0.5s ease;
    
    h1{
        @include media('<tablet'){
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        }
    }
}