$breakpoints: (
  'xs-phone': 320px,
  'phone': 376px,
  'tablet': 768px,
  'desktop': 1024px,
  'widescreen': 1200px,
  'tvscreen':1600px
);

// keywords
$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

@import 'vendors/include-media';

@import 'base/variables';
@import 'base/mixins';
@import 'base/helpers';

/*list Agency User*/
.listAgency-user{
    overflow: hidden;
    padding: 20px 20px 0;
    transition: padding 0.4s ease;
    -moz-transition: padding 0.4s ease;
    -ms-transition: padding 0.4s ease;
    -webkit-transition: padding 0.4s ease;
    
    .sideBar-active & {
        padding: 20px 20px 0 320px;
        
        @include media('<desktop'){
            padding: 20px 20px 0 260px;
        }
        @include media('<tablet'){
            padding: 20px 20px 0;
        }
    }
    
    .table-responsive {
        overflow-x: auto;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        @include font(14,18);
        
        @include media('<widescreen'){
            width: 1024px;
        }
        
        tr {
            width: 100%;
            position: relative;
           
           &.deleting {
               &:after{
                   position: absolute;
                   top: 0;
                   left: 0;
                   right: 0;
                   bottom: 1px;
                   padding: 7px 0;
                   background:  rgba($white, 0.9);
                   content: 'Deleting...';
                   color: $red;
                   @include font(18,25);
                   text-align: center;
               }
           }
            
            &:hover{
                td {
                    background: rgba($black, 0.02);
                }
            }
        }
        a{
            @include align(top);
            cursor: pointer;
            font-weight: 400;
            font-size: 20px;
            line-height: 1;
            margin: 0 3px;
            
            &.edit{
                color: $orange;
                &:hover{
                    color: darken($orange, 15%);
                }
            }
            &.delete {
                color: $red;
                &:hover { color: darken($red, 15%);}
            }            
        }
        th {
            text-align: left;
            padding: 10px;
            background: rgba($defualt-blue, 0.5);
            color: $white;
            
            &:first-child{
                border-radius: 4px 0 0 4px;
            }
            &:last-child {
               border-radius: 0 4px 4px 0; 
            }
        }
        td {
            border-bottom: 1px solid rgba($black, 0.2);
            padding: 10px;
            
            .fake-address {
                display: block;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                max-width: 200px;
            }
        }
    }
}
