
/* ---------------------------------------------------------
   1. Embedded fonts styles
   2. Eric Mayer CSS Reset
   3. General reset
   4. Common site styles
   5. Custom form styles
   6. Styles for responsive breakpoints
   ---------------------------------------------------------*/

$breakpoints: (
  'xs-phone': 320px,
  'phone': 376px,
  'tablet': 768px,
  'desktop': 1024px,
  'widescreen': 1200px,
  'tvscreen':1600px
);

// keywords
$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// ligatured operators ≥ ≤

@import 'vendors/include-media';
@import 'vendors/normalize';
@import 'vendors/fonts';

@import 'base/variables';
@import 'base/functions';
@import 'base/mixins';
@import 'base/helpers';
@import 'base/reset';
@import 'base/typography';
@import 'base/forms';
.text-left{ text-align: left !important;}
.text-right { text-align: right !important;}
.text-uppercase{ text-transform: uppercase !important;}
.text-center{ text-align: center !important;}
.container { @include container;}
.layout{ overflow: hidden;}
a{ outline: none;}
/*main page wrapper*/
#wrapper {
	position: relative;
	width: 100%;
	overflow: hidden;
}
/*dashboard header*/
#header {
	width: 100%;
	position: fixed;
	z-index: 9999;
	left: 0;
	right: 0;
	background: $defualt-blue;
	@extend %clearfix;
	
	.sideBar-opener {
		float: left;
		@include squar(40px, 25px);
		position: relative;
		margin: 13px 0 0 20px;
		cursor: pointer;
		
		&:after, &:before, span{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: 2px;
			content: '';
			background: $white;
		}
		&:after{
			top: auto;
			bottom: 0;
		}
		
		span{ 
			top: 50%;
			margin: -2px 0 0;
			
			&:before, &:after {
				position: absolute;
				top: 50%;
				left: -13px;
				content: '';
				border: 5px solid transparent;
				border-right: 5px solid $white;
				margin: -5px 0 0;
				transition: left 0.4s ease, right 0.4s ease;
			}
			
			&:after {
				left: auto;
				right: -8px;
				border-right: 0;
				border-left: 5px solid $white;
			}
		}
		.sideBar-active &,
		&:hover {
			span{
				&:before{
					left: -18px;
				}
				&:after{
					right: -13px;
				}
			}
		}
	}
}
.logo {
	text-decoration: none;
	color: $white;
	@include font(20,22);
	float: left;
	background: $sharp-musterd;
	padding: 15px 30px;
}
/*add property button*/
.add-property {
	float: right;
	max-width: 300px;
	color: $white;
	text-transform: uppercase;
	@include font(14,18);
	text-decoration: none;
	background: $sharp-musterd;
	border-radius: 4px;
	margin: 9px 10px 0;
	padding: 8px 17px;
	transition: background 0.4s ease;
	
	@include media('<tablet'){
		max-width: 130px;
		@include font(12,18);
		padding: 6px 5px;
		margin: 17px 0 0;
	}
	
	&:hover{ background: $orange; }
	&:before {
		@include align(top);
		content: "\e900";
		font-family: 'icomoon';
		@include font(18,19);
		font-weight: bold;
	}
}
/*mian content of the page*/
#main{
	overflow: hidden;
	padding: 52px 0 0;
}
/*dashboard side bar*/
#sidebar-dashboard{
	overflow: auto;
	@include squar(300px, 100vh);
	background: $black linear-gradient(to right, #3a3633 93%, #2a2725 100%);
	position: fixed;
	top: 52px;
	left: 0;
	z-index: 999;
	transform: translateX(-300px);
	transition: transform 0.5s ease;
	
	.sideBar-active & {
		transform: translateX(0);
	}
	.user-picture{
		padding: 10px 5px;
		@extend .text-center;
		overflow: hidden;
		border-bottom: 1px solid $black;
		
		.image-thumb{
			@include squar(70px,70px);
			border-radius: 100%;
			overflow: hidden;
			background: $mix-grays;
			padding: 4px;
			float: left;
			
			img{
				@include img-res;
				height: 100%;
				border-radius: 100%;
			}
		}
	}
	.layout {
		@extend .text-left;
		padding: 18px 10px 0 10px;
	}
	.account-type{
		display: block;
		color: $white;
		font-style: italic;
		color: #fff581;
		@include font(12,15);
	}
	.user-name {
		@include align(top);
		text-decoration: none;
		color: $light-gray;
		@include font(16px,19px);
		letter-spacing: 1px;
		transition: color 0.4s ease;
		text-transform: capitalize;
		font-weight: 600;
		
		&:hover {  color: $white;}
	}
	.sideBar-links {
		border-top: 1px solid $mix-grays;
		@extend %listreset;
		@include font(16,19);
		text-transform: capitalize;
		padding: 10px 0 0;
		
		li{
			margin: 0 0 5px;
			display: block;
			
			&.active{
				> a{
					background: rgba(0, 0, 0, 0.3);
					border-color: #000;
					color: $white;
				}
			}
			
			.badge {
				background: $gray;
				border-radius: 4px;
				@include font(12,15);
				color: $white;
				padding: 5px;
				float: right;
				margin: 0 10px 0 0;
				
				&.small{
					margin: -2px 0 0;
					@include font(12,14);
					padding: 3px;
					background: rgba($gray, 0.5);
				}
			}
			
			a {
				display: block;
				color: $white;
				text-decoration: none;
				padding: 10px 20px;
				color: $light-gray;
				transition: color 0.4s ease;
				border: 1px solid transparent;
				margin: 0 0 5px;
				
				&:hover{
					background: rgba(0, 0, 0, 0.3);
					border-color: #000;
					color: $white;
				}
				
				[class^="icon-"],[class*="icon-"]{
					@include align(middle);
					margin: -2px 10px 0 0;
					&:before{
						font-size: 22px;
						line-height: 1;
					}
				} 
			}
			.sub-links{
				@extend %listreset;
				@include font(14,16);
				
				li{
					margin: 0 0 10px;
					
					a{
						padding: 5px 30px;
						transition: color 0.4s ease;
						
						[class^="icon-"],[class*="icon-"]{
							@include align(middle);
							margin: -2px 10px 0 0;
							
							&:before{
								font-size: 15px;
								line-height: 1;
							}
						} 
					}
				}
			}
		}
	}
}
/*Add a property full form*/
.addPropertyFormContianer {
	@include container;
	transition: padding 0.5s ease;
	
	.sideBar-active & {
		padding: 0 10px 0 180px;
	}
	
	&.sectionListingActive {
		.section-listing{
			height: auto;
			max-height: 210px;
			opacity: 1;
			visibility: visible;
			z-index: 9;
		}
	}
	
	.attactment-block, .basics-block, .feature-block, .contact-information{
		padding: 75px 0 0;
	}
	
	.select2-container{
		@include media('<desktop'){
			min-width: 190px;
		}
		@include media('<tablet'){
			margin: 0;
			min-width: inherit;
			width: 100%;
		}
	}
	
	.listing-holder{
		@extend .text-center;
		width: 100%;
		position: fixed;
		left: 0;
		z-index: 99;
		clear: both;
		
		.sideBar-active &{
			@extend .text-left;
		}
		
		&:after{
			position: absolute;
			top: 0;
			bottom: 0;
			left: -9999px;
			right: -9999px;
			z-index: -1;
			background: $light-gray;
			content: '';	
		}
		
		.listing-opener{
			text-decoration: none;
			color: $black;
			@include font(40,36);
			cursor: pointer;
			z-index: 5;
			display: block;
			
			@include media('>=tablet'){ display: none;}
			
			&:hover{
				color: $mix-grays;
			}
		}
	}
	
	.section-listing {
		@extend %listreset;
		@include align-reset(top, 18, 21);
		position: relative;
		background: $light-gray;
		
		.sideBar-active &{
			padding: 0 0 0 300px;
		}
		
		@include media('<tablet'){
			position: absolute;
			top: 100%;
			left: -10px;
			right: -10px;
			z-index: -1;
			max-height: 0;
			opacity: 0;
			visibility: hidden;
			height: 0;
			overflow: auto;
			transition: z-index 0.5s ease, max-height 0.5s ease, opacity 0.5s ease, visibility 0.5s ease, height 0.5s ease;
		}
		
		li{
			@include media('<tablet'){
				display: block;
			}
			
			&.activeAddPropertyNavLink{
				&:before{
					background: $light-blue;
				}
				a{
					color: $black;
					pointer-events: none;
					&:after{
						right: 0;
					}
					[class^="icon-"], [class*="icon-"] { color: $green;}
				}	
			}
			&:hover{
				&:before{
					background: $light-blue;
				}
				a{
					color: $black;
					&:after{
						right: 0;
					}
				[class^="icon-"], [class*="icon-"] { color: $green;}				
				}
			}
			
			a{
				padding:15px 95px;
				text-align: center;
				display: block;
				text-decoration: none;
				color: $mix-grays;
				position: relative;
				z-index: 1;
				overflow: hidden;
				
				@include media('<widescreen'){
					padding: 15px 70px;
				}
				@include media('<desktop'){
					padding: 15px 45px;
				}
				
				&:after {
					background: $index-white;
					position: absolute;
					left: 0;
					right:100%;
					bottom:0;
					top: 0;
					z-index: -1;
					content: '';
					transition: all 0.4s ease;
				}
				[class^="icon-"], [class*="icon-"] {
					position: absolute;
					top: 50%;
					left:40px;
					margin: -11px 0 0;
					
					@include media('<desktop'){
						left: 9px;
					}
					
					&:before{
						font-size: 25px;
						line-height: 1;
					}
				}
			}
		}
	}
	
	.tabset{
		@extend %listreset;
		@include align-reset(top,12,15);
		text-transform: capitalize;
		
		li{
			padding: 0 10px 10px;
			
			&.active{
				a{
					color: $defualt-blue;
					.round{
						background: $defualt-blue;
						border-color: $defualt-blue;
						&:after{ display: block;}
					}	
				}
			}
			a{
				@include align(top);
				color: $black;
				position: relative;
				text-decoration: none;
				transition: color 0.4s ease;
				
				.round{
					@include align(middle);
					@include squar(20px, 20px);
					border: 2px solid $mix-grays;
					margin: -2px 4px 0 0;
					transition: all 0.4s ease;
					content: '';
					position: relative;
					transition: border 0.4s ease;
					
					&:after{
						position: absolute;
						top: 50%;
						left: 50%;
						margin: -5px 0 0 -5px;
						color: $white;
						content: "\e903";
						font-family: 'icomoon';
						@include font(10,10);
						display: none;
					}
				}
			}	
		}
	}
	.calculatedPrice{
		color: $dove-black;
		font-style: italic;
		position: relative;
		padding: 0 0 5px;
	}
	.tab-content{
		overflow: hidden;
		
		.fake-radio{
			@include squar(18px !important ,18px !important);
		}
	}
	.property-add {
		padding: 0 0 50px;
		overflow: hidden;
		
		@include media('<tablet'){
			padding: 0 0 50px;
		}
		
		input[type="text"],
		input[type="search"],
		input[type="number"],
		input[type="email"]{
			@include font(12,15);
			@include squar(100%, 30px);
			max-width: 260px;
			margin: 0 0 0 10px;
			padding: 6px 10px;
			outline: none;
			
			@include media('<desktop'){
				max-width: 190px;
			}
			
			@include media('<tablet'){
				max-width: inherit;
				margin: 0;
			}
			
			&:focus,
			&:hover{
				border: 1px solid $black;
			}
		}
		button[type="submit"] {
			border: 0;
			padding: 12px 25px;
			display: block;
			text-transform: capitalize;
			width: 250px;
			margin: 20px auto;
			@include font(16,19);
			position: relative;
			z-index: 1;
			border-radius: 5px;
			overflow: hidden;
			background: $green;
			color: $white;
			font-weight: 600;
			outline: none;
			
			[class^="icon"],[class*="icon"]{
				position: absolute;
				top: 50%;
				right: -100px;
				margin: -9px 0 0;
				transition: right 0.4s ease;
				
				&:before{
					font-size: 12px;
					line-height: 1;
				}
			}
			&:after{
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 100%;
				background: $mix-blue;
				z-index: -1;
				content: '';
				transition: all 0.4s ease;
			}
			&:hover{
				&:after{ left: 0;}
				[class^="icon"],[class*="icon"]{
					right: 20px;
				}
			}
		}
		
		select{
			@include align(top);
			height: 30px;
			
			&:focus,
			&:hover{
				border: 1px solid $black;
			}
		}
		
		textarea {
			@include font(12,15);
			margin: 0 0 0 9px;
			@include squar(100%, 120px);
			max-width: 710px;
			resize: none;
			padding: 10px;
			
			@include media('<desktop'){
				max-width: 565px;
			}
			@include media('<tablet'){
				max-width: inherit;
				margin: 0;
			}
			
			&:hover{
				border-color: $black;
			}
		}
		
		.title{
			padding: 2px 0 0;
			float: left;
			text-align: right;
			width: 25%;
			font-weight: 600;
			text-transform: capitalize;
			color: $mix-grays;
			@include font(14,17);
			
			@include media('<tablet'){
				float: none;
				display: block;
				width: 100%;
				text-align: left;
				padding: 0 0 10px;
			}
			
			&:after{
				@include align(top);
				content: '\2217';
				color: $red;
			}
		}
		.input-holder{
			float: left;
			width: 75%;
			
			@include media('<tablet'){
				float: none;
				width: 100%;
				display: block;
			}
		}
		.field-holder{
			overflow: hidden;
		}
		.radio-holder{
			@extend %listreset;
			@include align-reset(top,12,15);
			
			li{
				padding: 0 10px 10px;
				
				label{
					@include align(top);
					cursor: pointer;
					padding: 2px 0 0;
					
					.fake-radio,
					.fake-label {
						@include align(middle);
						
					}
					.fake-radio {
						@include squar(20px, 20px);
						border: 2px solid $mix-grays;
						margin: -2px 0 0;
						position: relative;
						
						&:after{
							position: absolute;
							top: 50%;
							left: 50%;
							margin: -5px 0 0 -5px;
							color: $white;
							content: "\e903";
							font-family: 'icomoon';
							@include font(10,10);
							display: none;
						}
					}
				}
				
				input[type="radio"]{
					visibility: hidden;
					opacity: 0;
					position: fixed;
					top: -999px;
					left: -999px;
					
					&:checked ~ {
						.fake-radio{
							border: 2px solid $defualt-blue;
							background: $defualt-blue;
							
							&:after{ display: block;}
						}
						.fake-label { 
							color: $defualt-blue;
						}
					}
				}
			}
		}
		.layout{
			padding: 20px 0 5px;
			
			&.add{
				max-width: 885px;
				margin: 0 auto;
				
				@include media('<tablet'){
					max-width: inherit;
					width: 100%;
					margin: 0;
				}
			}
			
			.layout-holder{
				float: left;
				width: 50%;
				margin: 0 auto;
				
				@include media('<tablet'){
					float: none;
					display: block;
					width: 100%;
					margin: 0;
					padding: 0 0 20px;
				}
				
				&.add{
					width: 100%;
				}
				
				select{
					margin: 0 0 0 9px;
					height: 30px;
					
					@include media('<tablet'){
						width: 100%;
						margin: 0;
					}
				}
				
				.title{
					max-width: 95px;
					width: inherit;
					float: none;
					@include align(top);
					
					@include media('<tablet'){
						max-width: inherit;
					}
				}
			}
		}
		.tab-content{
			max-width: 490px;
			margin:10px 0 0;
			padding: 0 0 0 20px;
		}
	}
	.form-heading{
		display: block;
		color: $mix-grays;
		text-transform: capitalize;
		@include font(16,19);
		border-bottom: 1px solid #adadad;
		padding: 0 0 5px;
		margin: 30px 0 0;
		
		span{
			@include align(top);
			position: relative;
			
			&:after {
				position: absolute;
				bottom: -6px;
				left: 0;
				right: 0;
				background: $orange;
				height: 2px;
				content: '';
			}
		}
	}
	.feature-block{
		
		.holder{
			overflow: hidden;
			padding: 10px 0 0;
			
			.tag{
				padding: 10px 0;
				max-width: 800px;
				margin: 0 auto;
			}
		}
	}
	.tag{
		display: block;
		text-transform: capitalize;
		@include font(14,18);
		font-weight:600;
	}
	.feature-list{
		@extend %listreset;
		@include align-reset(middle,13,16);
		max-width: 800px;
		margin: 0 auto 20px;
		position: relative;
		padding: 0 0 20px;
		
		&:after{
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			height: 1px;
			content:'';
			background: #e7e7e7; 
		}
		
		li{
			padding: 0 30px 15px;
			
			label{
				text-transform: capitalize;
				cursor: pointer;
				@include align(middle);
			}
			input[type="checkbox"]{
				cursor: pointer;
				@include align(middle);
			}
		}
	}
	.image-uploading-area{
		@extend %listreset;
		@include align-reset(top,14,17);
		text-align: center;
		margin: 30px 0 0;
		
		@include media('<tablet'){
			margin: 30px -5px 0;
		}
		
		li{
			width: 25%;
			position: relative;
			padding: 10px 0;
			
			@include media('<tablet'){
				width: 50%;
				padding: 10px 5px;
			}
			
			&:first-child{
				
				.file-uploader{
					
					&:before{
						position: absolute;
						top: 19px;
						left: -39px;
						content: 'Main Image';
						text-transform: capitalize;
						@include font(13,16);
						padding: 3px;
						transform: rotate(-39deg);
						width: 150px;
						color: $white;
						z-index: 999;
						background: rgba($red, 0.8);
						word-spacing: 1px;
					}
				}
			}
			
			.file-uploader{
					@include squar(250px, 200px);
					margin: 0 auto;
					background: $dove-gray;
					position: relative;
					z-index: 1;
					overflow: hidden;
					
					@include media('<widescreen'){
						@include squar(200px, 200px);
					}
					
					@include media('<desktop'){
						@include squar(150px, 150px);
					}
					
					@include media('<tablet'){
						@include squar(100%, 150px);
					}
					
					&:hover{
						&:after{ color: $green;}
					}
					
					&.after-none{
						&:after{ display: none !important;}
					}
					
					&:after{
						position: absolute;
						top: 50%;
						left: 50%;
						content: "\e900";
						font-family: 'icomoon';
						font-size: 86px;
						line-height: 1;
						z-index: -1;
						margin: -40px 0 0 -40px;
						color: #9da2a8;
						transition: color 0.4s ease;
						
						@include media('<desktop'){
							font-size: 60px;
							margin: -30px 0 0 -30px;
						}
					}
					
					input[type="file"]{
						display: block;
						overflow: hidden;
						border: 0;
						outline: none;
						opacity: 0;
						@include squar(100% !important, 100% !important);
				}
			}
			.picture-name{
				display: block;
				margin: 0 auto;
				max-width: 250px;
				border-width:0 0 2px;
				border-style: solid;
				border-color: $gray;
				height: 50px;
				@include font(14,18);
				transition: border 0.4s ease;
				
				@include media('<widescreen'){
					max-width: 200px;
				}
				
				@include media('<desktop'){
					max-width: 150px;
				}
				
				@include media('<tablet'){
					max-width: inherit;
				}
				
				&.disableInput{
					opacity: 0.5;
					pointer-events: none;
				}
				
				&:hover, &:focus{
					border-width:0 0 3px;
					border-color: $mix-grays;
				} 
			}
			.image-holder{
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				border: 0;
				outline: none;
				overflow: hidden;
				z-index: -1;
				opacity: 0;
				transition: z-index 0.9s ease, opacity 0.9s ease; 
				
				&:after{
					position: absolute;
					top: 100%;
					right: 0;
					left: 0;
					bottom: 0;
					background: rgba(255,255,255,0.7);
					content: '';
					transition: top 0.4s ease;
				}
				
				.propertyDocumentCloseBtn{
					position: absolute;
					top: 10px;
					right: 10px;
					color: $black;
					text-decoration: none;
					z-index: 6;
					@include font(30,32);
					opacity: 0;
					visibility: hidden;
					transition: opacity 0.4s ease, visibility 0.4s ease, color 0.4s ease;
					cursor:pointer;
					
					&:hover{
						color: $red;
					}
				}
				
				img{
					@include img-res;
					height: 100%;
					border: 0;
				}
				
				&:hover{
					&:after { top: 0;}
					.propertyDocumentCloseBtn {
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
	}
}
/*Listing page with table */
.property-listing-holder{
	overflow: hidden;
	padding: 60px 10px 0;
	transition: padding 0.4s ease;
	
	.sideBar-active &{
		padding: 60px 10px 0 320px;
		
		.listing-cetegories-links {
			ul{
				padding: 0 10px 0 300px;
			}
		}
	}
	.listing-cetegories-links {
		position: fixed;
		top: 52px;
		left: 0;
		right: 0;
		z-index: 99;
		background:$light-gray;
		text-transform: capitalize;
		
		ul{
			transition: padding 0.4s ease; 
			@extend %listreset;
			@include align-reset(top, 18,21);
			
			li{
				&.active-nav{
					a{
						background: $white;
					}
				}
				&.active{
					a{ 
						color: $green;
					}
				}
				&.pendings{
					a{ 
						color: $mix-blue;
					}
				}
				&.rejected{
					a{
						color:#bc5858;
					}
				}
				&.expired{
					a{
						color: #cf8511;
					}
				}
				&.deleted{
					a{
						color: $red;
					}
				}
				a{
					@include align(top);
					padding: 15px 50px;
					transition: color 0.4s ease, background 0.4s ease;
					color: $dove-black;
					text-decoration: none;
					
					&:hover{
						background: $white;
					}
					
					.numbering{
						@include font(13,17);
						
						&:before, &:after{
							@include align(middle);
							content: '(';
							margin: -4px 0 0;
						}
						&:after{
							content: ')';
						}
					}
				}
			}
		}
	}
	.property-filter{
		overflow: hidden;
		
		.by-user-sorting, .by-id-sorting {
			display: block;
			width: 40%;
			overflow: hidden;
			margin: 0 0 10px;
			float: left;
			
			ul{
				float: left;
				@extend %listreset;
				@include align-reset(middle,14,17);
				text-transform: capitalize;
				
				li{
					padding: 5px 10px 10px;
					float: left;
					
					label{ margin: 0 10px 0 0;}
					
					select{
						padding: 0;
						min-width: 50px;
						border: 1px solid $mix-black;
						height: 29px;
						@include font(12,15);
						outline: none;
					}
				}
			}
			input[type="submit"]{
				border: 0;
				height: 30px;
				padding:4px 10px;
				margin: 4px 0 0;
				text-transform: uppercase;
				background: $green;
				color: $white;
				float: left;
				transition: background 0.3s ease;
				outline: none;
				
				&:hover{ background: $sharp-musterd;}
			}
		}
		.by-id-sorting{
			float: right;
		}
	}
	.propeties-table{
		width: 100%;
		border-collapse: collapse;
		@include font(15,18);
		
		tr{
			width: 100%;
			
			th{
				text-align: left;
				@include font(15,18);
				padding: 8px;
				background: rgba($defualt-blue, 0.5);
				color: $white;
				
				&:first-child{ border-radius: 4px 0 0 4px;}
				&:last-child{ border-radius: 0 4px 4px 0 ;}
			}
			
			td{
				text-align:left;
				padding: 5px;
				border-bottom: 1px solid rgba($mix-grays, 0.4);
				padding: 10px 8px;
				overflow: hidden;
			}
			
			a{
				@include align(top);
				text-decoration:none;
				@include font(18,21);
				margin: 0 5px;
				color: $black;
				
				&.details{
					color: $mix-blue;
					font-size: 20px;
					line-height: 1;
					font-weight: bold;	
					&:hover{ color: darken($mix-blue, 15%);}
				}
				&.edit{
					color: $orange;
					&:hover{ color: darken($orange, 15%);}
				}
				&.delete{
					color: $red;
					&:hover{ color: darken($red, 15%);}
				}
			}
			
			&:hover{
				td{
					background: rgba($mix-grays, 0.08);
				}
			}
		}
	}
}