
/* ---------------------------------------------------------
   1. Embedded fonts styles
   2. Eric Mayer CSS Reset
   3. General reset
   4. Common site styles
   5. Custom form styles
   6. Styles for responsive breakpoints
   ---------------------------------------------------------*/

$breakpoints: (
  'xs-phone': 320px,
  'phone': 376px,
  'tablet': 768px,
  'desktop': 1024px,
  'widescreen': 1200px,
  'tvscreen':1600px
);

// keywords
$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// ligatured operators ≥ ≤

@import 'vendors/include-media';
@import 'vendors/normalize';
@import 'vendors/fonts';

@import 'base/variables';
@import 'base/functions';
@import 'base/mixins';
@import 'base/helpers';
@import 'base/reset';
@import 'base/typography';
@import 'base/forms';
.text-left{ text-align: left !important;}
.text-right { text-align: right !important;}
.text-uppercase{ text-transform: uppercase !important;}
.text-center{ text-align: center !important;}
.container { @include container;}
.layout{ overflow: hidden;}
.hidden-lg{
	@include media('<widescreen'){
		display: none !important;
	}
}
.hidden-sm{
	@include media('<desktop'){
		display: none !important;
	}
}
.hidden-xs {
	@include media('<tablet'){
		display: none !important;
	}
}
a{ outline: none;}
/*main page wrapper*/
#wrapper {
	position: relative;
	width: 100%;
	overflow: hidden;
}
/*dashboard header*/
#header {
	width: 100%;
	position: fixed;
	z-index: 9999;
	left: 0;
	right: 0;
	background: $defualt-blue;
	@extend %clearfix;
	
	.please-wait & {
		&:after{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 99;
			content: '';
		}
	}
	
	.sideBar-opener {
		float: left;
		@include squar(25px, 19px);
		position: relative;
		margin: 16px 0 0 20px;
		cursor: pointer;
		
		@include media('<tablet'){
			position: absolute;
			top: 0;
			left: 0;
			z-index: 9;
		}
		
		&:after, &:before, span{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: 2px;
			content: '';
			background: $dove-gray;
		}
		&:after{
			top: auto;
			bottom: 0;
		}
		
		span{ 
			top: 50%;
			margin: -2px 0 0;
			
			&:before, &:after {
				position: absolute;
				top: 50%;
				left: -13px;
				content: '';
				border: 5px solid transparent;
				border-right: 5px solid $dove-gray;
				margin: -5px 0 0;
				transition: left 0.4s ease, right 0.4s ease;
				-webkit-transition: left 0.4s ease, right 0.4s ease;
				-ms-transition: left 0.4s ease, right 0.4s ease;
				-moz-transition: left 0.4s ease, right 0.4s ease;
			}
			
			&:after {
				left: auto;
				right: -8px;
				border-right: 0;
				border-left: 5px solid $dove-gray;
			}
		}
		.sideBar-active &,
		&:hover {
			span{
				&:before{
					left: -18px;
				}
				&:after{
					right: -13px;
				}
			}
		}
	}
	.searhForm-holder{
		width: 250px;
		float: right;
		margin: 0 30px 0 0;
		
		@include media('<tablet'){
			margin: 17px 15px 0 0;
			@extend .text-center;
		}
		
		&.searh-dashboard-active{
			.searh-dashboard{
				display: block;
			}
			.form-openerMobile{ color: $white;}
		}
		
		@include media('<tablet'){
			width: 20px;
		}
		
		.form-openerMobile{
			color: rgba($white, 0.5);
			@include align(top);
			cursor: pointer;
			@include media('>=tablet'){
				display: none;
			}
		}
		
		.searh-dashboard{
			overflow: hidden;
			position: relative;
			width: 100%;
			
			@include media('<tablet'){
				position: absolute;
				left: 0;
				right: 0;
				top: 100%;
				z-index: 9;
				display: none;
				background: rgba($defualt-blue, 0.92);
			}
			
			input[type="text"], input[type="search"] {
				@include squar(100%, 40px);
				padding: 10px 30px 10px 0;
				margin: 0;
				border: 0;
				border-bottom: 1px solid rgba($white,0.5);
				color: $white;
				background: transparent;
				@include font(14,16);
				transition: padding 0.4s ease;
				-moz-transition: padding 0.4s ease;
				-webkit-transition: padding 0.4s ease;
				-ms-transition: padding 0.4s ease;
				
				@include media('<tablet'){
					@include squar(100%, 50px);
					border: 0;
					@include font(14,50);
					padding: 0 50px 0 20px;
				}
				
				@include placeholder{
					color: $white;
					opacity: 0.5;
				}
				&:focus{
					padding: 10px 30px 10px 10px;
					border-color: $white;
					
					@include placeholder{ opacity: 1;}
					
					~ button[type="submit"]{ color: $white;}
					
					@include media('<tablet'){
						padding: 0 50px 0 20px;
					}
				}
			}
			button[type="submit"]{
				border: 0;
				color: rgba($white, 0.5);
				background: transparent;
				padding: 0;
				margin: 0;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				width: 20px;
				
				@include media('<tablet'){
					right: 15px;
				}
				
				&:hover{
					color: $light-gray;
				}
			}
		}
	}
}
.logo {
	text-decoration: none;
	color: $white;
	@include font(20,22);
	float: left;
	background: $sharp-musterd;
	padding: 15px 30px;
	
	@include media('<tablet'){
		@include font(16,18);
		padding: 15px;
		margin:  0 0 0 60px;
	}
}
/*add property button*/
.add-property {
	float: right;
	max-width: 300px;
	color: $white;
	text-transform: uppercase;
	@include font(14,18);
	text-decoration: none;
	background: $sharp-musterd;
	border-radius: 4px;
	margin: 9px 10px 0;
	padding: 8px 17px;
	transition: background 0.4s ease;
	-webkit-transition: background 0.4s ease;
	-ms-transition: background 0.4s ease;
	-moz-transition: background 0.4s ease;
	
	@include media('<tablet'){
		max-width: 130px;
		@include font(12,18);
		padding: 6px 5px;
		margin: 8px 9px 0 0;
	}
	
	&:hover{ background: $orange; }
	&:before {
		@include align(top);
		content: "\e900";
		font-family: 'icomoon';
		@include font(18,19);
		font-weight: bold;
	}
}
/*mian content of the page*/
#main{
	overflow: hidden;
	padding: 52px 0 0;
	
	@include media('<tablet'){
		padding: 48px 0 0;
	}
}
.pages-holder {
	position: relative;
	overflow: hidden;
	min-height: 785px;
	
	@include media('<desktop'){
		min-height: 695px;
	}
}
/*dashboard side bar*/
#sidebar-dashboard{
	overflow: auto;
	@include squar(300px, 100vh);
	background: $black linear-gradient(to right, #3a3633 93%, #2a2725 100%);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	transform: translateX(-300px);
	-webkit-transform: translateX(-300px);
	-moz-transform: translateX(-300px);
	-ms-transform: translateX(-300px);
	transition: transform 0.5s ease;
	-webkit-transition: transform 0.5s ease;
	-moz-transition: transform 0.5s ease;
	padding: 52px 0 0;
	
	.please-wait & {
		&:after{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 99;
			content: '';
		}
	}
	
	@include media('<desktop'){
		width: 250px;
	}
	@include media('<tablet'){
		width: 100%;
		transform: translateX(-100%);
		-webkit-transform: translateX(-100%);
		-ms-transform: translateX(-100%);
		-moz-transform: translateX(-100%);
	}
	
	.sideBar-active & {
		transform: translateX(0);
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
	}
	.user-picture{
		padding: 10px 5px 0;
		@extend .text-center;
		overflow: hidden;
		border-bottom: 1px solid $black;
		
		.image-thumb{
			@include squar(70px,70px);
			border-radius: 100%;
			overflow: hidden;
			background: $mix-grays;
			padding: 4px;
			float: left;
			
			img{
				@include img-res;
				height: 100%;
				border-radius: 100%;
			}
		}
	}
	.form-holder{
		border-top: 1px solid $mix-grays;
		overflow: hidden;
	}
	.search-sideBar{
		overflow: hidden;
		width: 90%;
		margin: 10px auto 0;
		position: relative;
		
		input[type="text"], input[type="search"] {
			border: 1px solid rgba($white, 0.5);
			border-radius: 20px;
			width: 100%;
			height: 30px;
			background: transparent;
			color: $white;
			@include font(14,17);
			padding:5px 40px 5px 10px;
			transition: border 0.4s ease;
			-webkit-transition: border 0.4s ease;
			-moz-transition: border 0.4s ease;
			-ms-transition: border 0.4s ease;
			
			@include placeholder{
				opacity: 0.5;
				color: $white;
				transition: opacity 0.4s ease;
				-moz-transition: opacity 0.4s ease;
				-ms-transition: opacity 0.4s ease;
				-webkit-transition: opacity 0.4s ease;
			}
			
			&:focus{
				border-color: $white;
				@include placeholder{ opacity: 1;}
				~ button[type="submit"]{ color: $white;}
			}
		}
		button[type="submit"]{
			border: 0;
			background: transparent;
			color: rgba($white, 0.5);
			position: absolute;
			top: 50%;
			right: 10px;
			width: 20px;
			display: block;
			bottom: 0;
			z-index: 9;
			padding: 0;
			margin: -13px 0 0;
			appearance: none;
			outline: none;
			transition: color 0.4s ease;
			-webkit-transition: color 0.4s ease;
			-moz-transition: color 0.4s ease;
			-ms-transition: color 0.4s ease;
			
			&:hover{
				color: $index-white;
			}
		}
	}
	.notifications-links{
		@extend %listreset;
		@extend .text-right;
		@include align-reset(top,24,24);
		
		@include media('<desktop'){
			@include align-reset(top,19,19);
		}
		
		li{
			padding: 0 10px 10px;
			
			a{
				text-decoration: none;
				color: $light-gray;
				
				&:hover{ color: $white;}
			}
		}
	}
	.layout {
		@extend .text-left;
		padding: 18px 10px 0 10px;
	}
	.account-type{
		display: block;
		color: $white;
		font-style: italic;
		color: #fff581;
		@include font(12,15);
	}
	.user-name {
		@include align(top);
		text-decoration: none;
		color: $light-gray;
		@include font(16px,19px);
		letter-spacing: 1px;
		transition: color 0.4s ease;
		-webkit-transition: color 0.4s ease;
		-moz-transition: color 0.4s ease;
		-ms-transition: color 0.4s ease;
		text-transform: capitalize;
		font-weight: 600;
		
		&:hover {  color: $white;}
	}
	.sideBar-links {
		@extend %listreset;
		@include font(16,19);
		text-transform: capitalize;
		padding: 10px 0 0;
		
		@include media('<desktop'){
			@include font(14,18);
		}
		
		li{
			margin: 0 0 5px;
			display: block;
			
			&.active{
				> a{
					background: rgba(0, 0, 0, 0.3);
					border-color: $black;
					color: $white;
				}
			}
			
			.badge {
				background: $gray;
				border-radius: 4px;
				@include font(12,15);
				color: $white;
				padding: 5px;
				float: right;
				margin: 0 10px 0 0;
				
				@include media('<desktop'){
					@include font(11,14);
					padding: 3px;
				}
				
				&.small{
					margin: -2px 0 0;
					@include font(12,14);
					padding: 3px;
					background: rgba($gray, 0.5);
					
					@include media('<desktop'){
						@include font(10,12);
					}
				}
			}
			
			a {
				display: block;
				color: $white;
				text-decoration: none;
				padding: 10px 20px;
				color: $light-gray;
				border: 1px solid transparent;
				margin: 0 0 5px;
				transition:color 0.4s ease, background 0.4s ease, border 0.4s ease;
				-webkit-transition:color 0.4s ease, background 0.4s ease, border 0.4s ease;
				-moz-transition:color 0.4s ease, background 0.4s ease, border 0.4s ease;
				-ms-transition:color 0.4s ease, background 0.4s ease, border 0.4s ease;
				
				&:hover{
					background: rgba(0, 0, 0, 0.3);
					border-color: #000;
					color: $white;
				}
				
				[class^="icon-"],[class*="icon-"]{
					@include align(middle);
					margin: -2px 10px 0 0;
					&:before{
						font-size: 22px;
						line-height: 1;
						
						@include media('<desktop'){
							font-size: 18px;
						}
					}
				} 
			}
			.sub-links{
				@extend %listreset;
				@include font(14,16);
				
				li{
					margin: 0 0 10px;
					
					a{
						padding: 5px 30px;
						transition: background 0.4s ease, border 0.4s ease;
						-webkit-transition: background 0.4s ease, border 0.4s ease;
						-ms-transition: background 0.4s ease, border 0.4s ease;
						-moz-transition: background 0.4s ease, border 0.4s ease;
						
						[class^="icon-"],[class*="icon-"]{
							@include align(middle);
							margin: -2px 10px 0 0;
							
							&:before{
								font-size: 15px;
								line-height: 1;
							}
						} 
					}
				}
			}
		}
	}
}
.social-networks {
	@include align-reset(top,22,22);
	@extend %listreset;
	margin: 0 -10px;
	
	@include media('<desktop'){
		@include align-reset(top,18,21);
	}
	
	li{
		padding:  0 10px 10px;
		margin: 0;
		
		@include media('<desktop'){
			padding: 0 5px 5px;
		}
		
		a {
			border: 2px solid $white;
			padding: 10px;
			border-radius: 100%;
			@include align(top);
			transition: all 0.4s ease;
			-webkit-transition: all 0.4s ease;
			-moz-transition: all 0.4s ease;
			-ms-transition: all 0.4s ease;
			
			&:hover{
				
				&.facebook{
					background: #3B5998;
					border-color: #3B5998;
				}
				
				&.twitter {
					background: #55acee;
					border-color: #55acee;
				}
			}
		}
	}
}
#footer{
	background: $dove-black;
	position: relative;
	
	.please-wait & {
		&:after{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 99;
			content: '';
		}
	}
	
	.cols-holder{
		overflow: hidden;
		@include align-reset(top,14,16);
		transition: padding 0.4s ease;
		-webkit-transition: padding 0.4s ease;
		-moz-transition: padding 0.4s ease;
		-ms-transition: padding 0.4s ease;
		text-align: center;
		
		@include media('<desktop'){
			@include align-reset(top,12,15);
		}
		
		.sideBar-active & {
			padding: 0 0 0 180px;
			
			@include media('<widescreen'){
				padding: 0 0 0 290px;
			}
			@include media('<desktop'){
				padding: 0 0 0 170px;
			}
			@include media('<tablet'){
				padding: 0;
			}
		}
		
		.col {
			width: 25%;
			color: $light-gray;
			padding: 30px 10px;
			
			@include media('<tablet'){
				width: 50%;
				padding: 30px 5px 0;
			}
			
			address{
				display: block;
				font-style: normal;
			}
		}
		ul{
			@extend %listreset;
			text-transform: capitalize;
			
			li{
				margin: 0 0 5px;
				
				a{
					text-decoration: none;
					color: $light-gray;
					
					&:hover{ color: $white;}
				}
			}
		}
		h2{
			@include font(18,21);
			font-weight: 600;
			margin: 0 0 10px;
		}
	}
}
.resize-active *{
	transition: none !important;
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
}